[2022-05-30 17:38] EddyGiusepe commented on #1411
Thank you very much @anautsch for starting this discussion, I hope to continue discussing with you and others researchers.

Then:
* When you speak of "training recipe" you are referring to the "train.py" (meu [train.py](https://drive.google.com/file/d/1F0z3uLWp1yCMxnhAPl38kwldkTP0x2jE/view?usp=sharing)) file, right?

* Thanks for these links (Thanks, also, @mravanelli): [consistency testing PR](ht

[2022-05-31 01:42] WillQuCD commented on #1415
Hi @BenoitWang ,
thank you very much for the quick reply.

Yes, IEMOCAP is a very small dataset. The leave-two-session-out strategy will loss a lot of data.

That would be great to build a standard benmark for the community by this excellent project.

thank you again for your contribution!

[2022-05-31 03:50] Vuducbao913 opened #1418 "Some seed cause the model to fail to converge"
I use knowledge distillation for ASR-wav2vec2, I discovered something interesting about seed. When using seed to init weight for model students, it causes the model to fail to converge.
Eg, when I use seed 1001, train loss and valid loss are always like this
[code]

But, when I use seed 1002, It's very normal

[code]

I never thought random seed affects so much, have you ever encountered this situ

[2022-05-31 20:15] vadimkantorov commented on #943
EspNet solution is probably not working: https://github.com/espnet/espnet/issues/4412

[2022-06-01 05:35] Ingookey opened #1421 "[NOT ISSUE] How to export a whole model, such as only one *.pth model file?"
Focus on speech recognition "AISHELL (Mandarin)"

[2022-06-01 05:56] EddyGiusepe commented on #1411
Thank you, @anautsch, yes yes ... I'm very happy to be learning this line of research.

Then:
* With respect to those recipe files, it was clear yes. Thank you!

* I know where these files are located for consistency. But unfortunately, I'm not able to run the consistency test (I'm working on Google Colab: [consistency_test_file](https://colab.research.google.com/drive/1CVfoy5ihFrz3acGOOaExlZ5bj8D

[2022-06-01 08:33] TParcollet commented on #1294
@anautsch maybe Andreas will be happy to answer PG about that :p

[2022-06-01 10:28] anautsch commented on #1294
could also be a topic to discuss with @underdogliu ;-)

[2022-06-01 18:02] pratikkumar018 opened #1424 "Building ssl models in speechbrain"
HI Team,
I am trying to build ssl models like wav2vec2, wavlm, hubert in speechbrain from scratch for a different langauge. I tried looking for but couldnt find any leads. Can anyone point out how to build these models.

[2022-06-02 06:28] TParcollet commented on #1421
Hi, you can create a single module in the YAML as a Sequential, or Module List or whatever, and then give it to the checkpointer. See the asr_model variable here: https://huggingface.co/speechbrain/asr-wav2vec2-commonvoice-it/blob/main/hyperparams.yaml

[2022-06-02 06:29] TParcollet commented on #1410
I don't know then. We also observed this kind of behavior with BASE model :-(

[2022-06-02 11:44] pratikkumar018 commented on #1424
Thanks for the info.

[2022-06-02 11:44] #1424 closed

[2022-06-02 22:00] #1411 closed

[2022-06-02 22:25] EddyGiusepe commented on #1411
*I closed unintentionally* :(

Hello @underdogliu!!!
Quiet.

* I would like to be able to discuss more how you make the inference. I will look for this author *Kaldi* to know more about this part. So, in this first part I'm using the SpeechBrain script to make some inferences. I'm still training the script with my Data. Obviously, this inference I make is only with an audio that has one speaker (I

[2022-06-02 23:03] EddyGiusepe commented on #1411
Hello @anautsch!
* I will do this consistency test.

* I'll look for those books yes, thank you!

*  I have little data. But, I'm already trying to get more Data for my training. I'm applying Augmentation and I'm also adding noise, velocity, revorbation, etc. I'm currently training the Network and my test_erro~5%, but when making the inference... the network makes a lot of mistakes.
My train.yaml

[2022-06-03 06:25] anautsch commented on #1411
Make sure to use the `env_corrupt` in the train.py file. Check for a set of audios which are the noise effects you'd desire to have. Look at the training data of a pretrained model. Which data augmentation would be necessary to transform them into your environment? Maybe it is enough to retrain a pretrained model based on in-domain data augmentation. You won't need to corrupt audios that are alrea

[2022-06-03 07:16] EmreOzkose opened #1426 "DPP is slow"
Hi, when I try to use distributed data parallel in single node, it works well. However, when I use multi-node, it didn't work. I use [speaker recognition-VoxCeleb Ecapa-TDNN ](https://github.com/speechbrain/speechbrain/tree/develop/recipes/VoxCeleb/SpeakerRec) recipe. Batch size is set to 8. I added `train_data = train_data.filtered_sorted(select_n=30000)` to [here](https://github.com/speechbrain/

[2022-06-03 07:35] TParcollet commented on #1426
Hi, why are you mentioning pytorch-lightning in the environment ? Is it used in your experiment ? I don't really understand as I don't have problems with multi-node DDP myself. Are you using a resource scheduler like SLURM ?

[2022-06-03 07:42] TParcollet commented on #1418
Deep learning mystery .... you could try replacing the scheduler with one containing a warmup instead.

[2022-06-03 08:09] EmreOzkose commented on #1426
I saw similar issues (script is freezing during init()) in pytorch-lightning issues, so I just mentioned it, I can remove.

No, I am not using any scheduler.

[2022-06-03 08:35] bofenghuang commented on #1399
Hi @anautsch ,

As discussed last week, I came back with the tests on more datasets :
- MiniLibriSpeech
- LibriSpeech
- CommonVoice IT
- CommonVoice FR

I used `batch_size=32` for the random sampling and the sequential sampling after sorting. `max_batch_len` for `DynamicBatchSampler` is set to `batch_size * max_dur` to make sure they have the same memory peak.

Here are the results.

MiniLibriSpee

[2022-06-03 09:23] TParcollet commented on #1426
So the hanging may only be caused by one thing: The master node cannot be reached or the master node does not see enough node connected (w.r.t what you specified). When training works, are all GPUs being used properly ?

[2022-06-03 13:18] EmreOzkose commented on #1426
When I checked nvitop, GPUs are seem to be used.

[2022-06-03 14:13] TParcollet commented on #1426
Out of complete curiosity, could you turn this line to False:

# This flag enables the inbuilt cudnn auto-tuner
    torch.backends.cudnn.benchmark = True

[2022-06-03 14:14] TParcollet commented on #1426
What I don't understand is this multinode issue. If it works with one server, it should work with multiple.

[2022-06-03 14:30] anautsch commented on #1399
Thank you @bofenghuang ; quite some basis to find the next step!

As per slack: Random Sampling & After sorting are w/o the dyn batching warping

I'll rewrite your resutls - let's see if this formatting helps. I'll add: %init time = sampler initialization time / total time

`A = num_buckets | B = ratio of padding | C = #batches | D = total time | E = %init time`

I think about them as:
`resolution

[2022-06-03 15:24] grazder opened #1427 "Data keys are static by default and it can't be changed with `dynamic_items`"
Hi! I noticed strange behavior of `DynamicItemDataset`.

# Problem 👩‍⚕️

My dataset looks like this:

[code]

I put it into `DynamicItemDataset` using some both audio and text pipelines which I put into `dynamic_items`.

But in text pipeline I'm doing text preprocessing and it looks like this:

[code]

Main thing here that my input and output keys are the same. So I want my dataset to have `ref` k

[2022-06-03 15:26] bofenghuang commented on #1399
@anautsch thanks for the rewriting.

I didn't realize the dynamic sampler with beta distribution has the less initialization time (except on LibriSpeech). Just when fitting the beta distribution on datasets, I keep get this warning. I don't know if this stops you to use it as the default option.

[code]

For me they all have the similar behaviors in terms of number of batches and ratio of padding,

[2022-06-04 09:21] anautsch commented on #1399
Dependency is a valid remark.
It's good btw you handle that import inline!

Gosh, I needed to re-read this line a bit

"total_time" it's the total time necessary to add up the number padding in ratio to total audio per batch for 1 epoch!
Ok, then my above analysis doesn't really hold xD

Then, the actual criterion is the number of batches - everything else just puts some nuances to the discussion.

[2022-06-04 16:15] bofenghuang commented on #1399
Yeah it was the same "total time" used in the tutorial.

I think this is related to datasets, #buckets and how the batches are generated from buckets.

In the current implementation, a batch is generated when its size reaches the predefined `_max_batch_ex`, or `_bucket_lens[i]` which is `max_batch_length` divided by upper boundary of the bucket.

https://github.com/speechbrain/speechbrain/blob/a8d

[2022-06-05 13:25] Jasonare opened #1428 "How to implement dynamic mixing(DM) with Sepformer and where is the code implementation?"
Hi, Thanks for your code work, it's much helpful for me!
I have already trained the original sepformer and obtain 20.4 SI-SNRi, which is similar with in the paper.
Now, I wanna train sepformer+dm, but I don't find the code implementation of DM, especially how to dynamic mix the speech under mypath/wsj0/si_tr_s regularly, can you tell me where it is, please?
Besides, I see the training scipt of dyn

[2022-06-06 06:53] Ingookey commented on #1421
Thanks for the reply, have a try follow your thoughts.

[2022-06-06 09:55] EmreOzkose commented on #1426
I just export a conda environment yaml file, then create a new environment in server2. Then run same commands with different node ranks. Command:

`python3 -m torch.distributed.launch --nproc_per_node=2 --nnodes=2 --node_rank=1 --master_addr server1 --master_port 53534 train_speaker_embeddings.py hparams/train_ecapa_tdnn_dist.yaml --distributed_launch --distributed_backend='nccl'`.

Thank you for

[2022-06-06 10:45] #1426 closed

[2022-06-07 14:26] GaetanLepage commented on #924
I would just like to mention that I do not have any insertion problem anymore while using the current master branch of SpeechBrain.
@nicedlp, maybe you should try again as the issue might have been fixed. To be confirmed :)

[2022-06-07 14:52] BuxianChen opened #1434 "InputNormalization is not cuda compatible?"
The code below will enter into `speechbrain.processing.features.py:InputNormalization`
[code]
and get the following error
[code]

Then, I find the code in `InputNormalization` has the following, which is not cuda compatible
[code]

[2022-06-08 12:22] anautsch commented on #1434
Hi @BuxianChen
it might be because of librosa to load audios.
I created a pretrained model from `encoder = SpeakerRecognition.from_hparams(source="speechbrain/spkrec-ecapa-voxceleb")`

then `signal = encoder.load_audio("tests/samples/ASR/spk1_snt1.wav")`

returns the signal as a tensor that is on the same device as the model.

Does this help with this part of your error message?

[2022-06-08 12:53] BuxianChen commented on #1434
Maybe the snippet code is not clean enough, but the key point here is `encoder.encode_batch(inp, normalize=True)`, the `normalize` set to `True` will cause the problem. The cleaner code as following, which get the same error

[code]

[2022-06-08 12:53] TParcollet commented on #1302
Yes, this integration of dataset sucks. We have to revise this ...

[2022-06-09 14:42] Craya commented on #1407
Dear @anautsch , many thanks for your support,

Your proposal works fine for [French wav2vec HuggingFace model](https://huggingface.co/speechbrain/asr-wav2vec2-commonvoice-fr)! For the community, here is what we did to move from training to inference: adapt the hparams.yaml from the [pretrained model yaml on HuggingFace](https://huggingface.co/speechbrain/asr-wav2vec2-commonvoice-fr/blob/main/hype

[2022-06-09 15:55] TParcollet commented on #1407
Hi @Craya, thank you for appreciating SpeechBrain, it's quite a lot of job and we are happy to see that the community enjoys it. We won't answer on Discourse, because we will soon close it ... (we will announce).

For the english: the warning is normal. Some parameters are not used because they are only useful for the pretraining. Could you please give the structure of the folder that you are usin

[2022-06-09 23:01] EddyGiusepe commented on #1411
Hello @anautsch !
Sorry for answer now. I'm still focused on training SpeakerIDfromScratch.

* Yes, I'm taking your observations into account. I'm using a pre-training model since I have little Data.

![image](https://user-images.githubusercontent.com/69597971/172956105-81ac6e26-c9b3-4d33-9ac2-424058dcb793.png)
![image](https://user-images.githubusercontent.com/69597971/172958115-412fa553-e189-4aa

[2022-06-09 23:23] EddyGiusepe commented on #1307
Hello people!

Hi @Shrijoy-Chowdhury, I wantted to ask the following:

* Do you add noise to your Data? Do you use any pre-treined models? what? Do you have any idea of the best SNR, noise, babble values ?

For example:
![image](https://user-images.githubusercontent.com/69597971/172961129-27b13b51-16f9-485e-a28a-1a895f2fc555.png)

I hpe I don't cause trouble.

Thank you very much!

[2022-06-10 05:17] poor1017 opened #1436 "Accuracy Issue with DDP Training"
Hi

I trained `recipes/VoxLingua107/lang_id` with DDP, the train_log.txt is pretty good:
[code]
But, I got a totally wrong model, I used the model do a test, errRate is 80%.

I trained the same recipe without DDP (Single GPU), and did the same test, I got errRate 4%.

Do I miss some key steps?

Thank you!

[2022-06-10 07:05] poor1017 commented on #971
@caixy97 My situation is similar to yours, but my train_log.txt looks good, while I do a test with trained model, the result is bad. Have you solved your issue?

[2022-06-10 11:49] ycemsubakan commented on #971
@poor1017 , do you train with multiple GPUs?

[2022-06-10 16:08] Craya commented on #1407
Salut @TParcollet,

We are working on ASR for almost one year and a half and yes I confirm, your framework is the most powerful we ever trier so far! And cherry on the cake: the community is very active (except on Discourse but now I understand why :wink: ).

Based on your answer to use only EncoderASR, we have adapted the hparam file of the [French wav2vec HuggingFace model](https://huggingface.c

[2022-06-10 16:14] TParcollet commented on #1407
Hi and thanks!

If you already followed the tutorial on inference, you already know everything. Inference is definitely something we will improve, but at the same time, it is absolutely impossible to provide a tutorial for all case, because remember that our interfaces provide generic code that encapsulate an entire pipeline to be called with only one line. Hence, it's nearly impossible to have so

[2022-06-10 16:15] TParcollet commented on #1436
Are the training logs equivalent from DDP to not DDP ?

[2022-06-11 19:25] EddyGiusepe commented on #1292
Hello @LONG520520, sorry for the inconvenience.

Were you able to solve this error?

![image](https://user-images.githubusercontent.com/69597971/173202128-2ca6718e-8d70-4b55-ad87-d60acd6d7153.png)

Thank you very much!

[2022-06-13 02:40] poor1017 commented on #971
@ycemsubakan Yes, I train my model with DDP (4 GPUs). Errr.... I have found the reason: When I save the model, I forgot to add `.module`, it seems that DDP will encapsulate the model with `.module`.

[2022-06-13 02:42] poor1017 commented on #1436
@TParcollet Thank you for your reply.
A little different, DDP has a lower loss totally. I train my model with DDP (4 GPUs).

Errr.... I have found the reason: When I save the model, I forgot to add .module, it seems that DDP will encapsulate the model with .module.

[2022-06-13 11:37] Craya commented on #1407
Thanks @TParcollet for this complete feedback,

I understand and a agree the rationale that it is the drawback of the flexibility of your interface (that makes this framework so good!).  Maybe only one inference yaml per recipe you provide, adapated to the training yaml parameters, could help? Then if one change the recipe, the inference yaml is to be adapted of course.

Anyway, Thanks for your su

[2022-06-13 11:37] #1407 closed

[2022-06-13 11:41] ycemsubakan commented on #971
@poor1017 . Great.. Thanks for your followup!

[2022-06-15 08:14] ChandanaJonna opened #1440 "Error while enhancing MetricGAN+ Using Pretrained Model"
Hi,

I am trying to evaluate my samples with MetricGAN+ using the Pretrained Model(model.ckpt) available in "https://drive.google.com/drive/folders/1IV3ohFracK0zLH-ZGb3LTas-l3ZDFDPW?usp=sharing".

And, I used the easy-inference function on HuggingFace from this link "https://huggingface.co/speechbrain/metricgan-plus-voicebank". While evaluation "enhanced = enhance_model.enhance_file(noisy)" I got

[2022-06-15 08:22] TParcollet commented on #1440
@mravanelli @pplantinga any idea ? This is not the first time I come across this error.

[2022-06-15 08:49] ChandanaJonna commented on #1440
this is how I am using the code.
![image](https://user-images.githubusercontent.com/101628409/173784573-ecd8431e-e238-4592-ba56-7d76082b910f.png)

Got error in enhance_batch function interface.py file
![image](https://user-images.githubusercontent.com/101628409/173784991-8316c7a9-0b67-44ac-9013-041dec82528a.png)

[2022-06-15 12:19] Pupiera opened #1441 "Fusion of LM and ASR score in decoders"
Hello speechbrain community,
Currently, the fusion of the LM and ASR in the S2SBeamSearcher class is handled through a weighted sum of the log_prob from the ASR and the log_prob from the LM (i.e. : shallow fusion). Meaning that the LM and the ASR module must use the same vocabulary (same tokenizer).
Do you have any plan to handle other type of fusion such as Deep fusion or Cold fusion ? (https://a

[2022-06-16 07:53] virgile-blg commented on #1285
@mjhewitt1 Did you figure out how to finetune the Transformer LM with your dataset ?

@TParcollet It's not clear to me why we would still need the HuggingFace Dataset dependency for the LM finetuning ?

[2022-06-16 13:32] #1440 closed

[2022-06-16 17:42] kalvinchang opened #1444 "TIMIT model pretrained recipe"
I am trying to load the pretrained TIMIT recipe that achieved 8.04% PER on the benchmark.

However,

[2022-06-17 00:00] kalvinchang commented on #1444
Here is the YAML file in question

[code]

[2022-06-17 00:11] kalvinchang commented on #1444
In addition, the file directory listed in the YAML does not match the Google Drive file directory structure.

For example, the output folder is output_folder: results/augment_noise_CRDNN/1234
but the actual directory is augment_noise_CRDNN_wav2vect/1234

[2022-06-17 00:14] kalvinchang commented on #1444
I fixed it by replacing
<checkpointer.checkpoints_dir>/model.ckpt with
results/augment_noise_CRDNN/1234/save/model.ckpt

[2022-06-17 01:27] kalvinchang opened #1446 "TIMIT ASR inference - vocabulary missing"
I am following the tutorial https://colab.research.google.com/drive/1aFgzrUv3udM_gNJNUoLaHIm78QHtxdIz?usp=sharing#scrollTo=P-Trg_abjUTd, #1407, and #1280.

However, it seems that the TIMIT checkpoint lacks a vocabulary (a .vocab file) from which we can derive a tokenizer. (https://drive.google.com/drive/folders/1OM8IGhJKlovjM8xOjEOJCVHWOXjdR6TW).

This causes the following error:
OSError: Not foun

[2022-06-17 07:20] Asma-droid opened #1447 "cuDNN error: CUDNN_STATUS_EXECUTION_FAILED when training models from recipes"
Dear all,

I would like to use SpeechBrain. I have started by creating models when based on the LibriSpeech recipe.

I am trying to create LM model. I have gor the bellow errer despite i have two GPU and 128 Go Ram

speechbrain.utils.epoch_loop - Going into epoch 1
  0%|

[2022-06-17 09:30] LONG520520 commented on #1292
NO,I don't have a perfect idea to  solve this error.

[2022-06-17 12:58] mravanelli commented on #1292
This error might happen when the number of output (i.e., the number of
speakers) is not set correctly. Could you please double check it? On my
side, I didn't have this error when training the embeddings.

On Fri, Jun 17, 2022 at 5:30 AM Xiaolong ***@***.***> wrote:

[2022-06-17 13:12] mjhewitt1 commented on #1285
I did manage to finetune the Transformer LM with my dataset. I changed the transformer.yaml file so it looked like this where the datasets are defined (see image)

- data_folder was commented out
- the train, dev and test files were explicitly defined, instead of using lm_corpus_path

Hope this is helpful & makes sense

![image](https://user-images.githubusercontent.com/64368621/174304866-3b187b0a

[2022-06-18 14:10] kirillkoncha opened #1448 "Saving fine-tuned models"
Hi!

I fine-tuned spoken language identification with the help of colab tutorial. I used _brain.fit()_ to fine-tune the model and added new language. I wonder how I could save the new model files in order to use it later. Is there any way to do it?

[2022-06-20 02:49] xin-w8023 opened #1451 "Code Style Fixing"
https://github.com/speechbrain/speechbrain/blob/develop/speechbrain/utils/metric_stats.py#:~:text=(self.-,labels,-%3D%3D%201).
<img width="500" alt="image" src="https://user-images.githubusercontent.com/43900898/174516502-6876ad49-f48b-480c-82de-b9b2964c317a.png">
It's better to use `self.labels == self.positive_label` than hardcode to `self.labels == 1`.

[2022-06-20 05:26] mochakong-chen opened #1452 "Output of this Dual_Path_Model has different shape under multi-gpu and single-gpu； why？"
I did a small experiment based on my code, my experimental code is as follows:

os.environ['CUDA_VISIBLE_DEVICES'] = "0,1"

bi_rnn1 = speechbrain.lobes.models.dual_path.SBRNNBlock(input_size = 64,
                                                                                                hidden_channels = 128,

[2022-06-20 14:06] virgile-blg commented on #1285
Thanks a lot for your answer. With this config yaml, I still got an error.

I guess you did modify the `dataio_prepare` function in `train.py`  as well in order to make it work ?
Because it seems to expect data in the LibriSpeech format as it is.

[2022-06-20 16:05] mjhewitt1 commented on #1285
Apologies, I forgot to include that part.

For completeness, I changed the datio_prepare function in train.py to look like:

![image](https://user-images.githubusercontent.com/64368621/174641717-cc0c0a78-a942-449c-8206-4efe877b189d.png)

[2022-06-21 00:20] sangeet2020 opened #1454 "[minimal issue- missing packages] Pesq and tensorboard missing from requirements.txt"
I guess the requirement.txt file is missing the below packages:
- pesq
- tensorboard

Could we add them to avoid errors?

Thanks

[2022-06-21 02:29] tungedng2710 opened #1455 "Exporting the operator stft to ONNX opset version 9 is not supported"
Hi, I have exported your MetricGAN+ model to ONNX (I called ```SpectralMaskEnhancement``` class from speechbrain.pretrained). However, I received the error message:
[code]
In addition, I have modified the forward function of the ```SpectralMaskEnhancement``` a bit
[code]
Many thanks!

[2022-06-21 15:46] SimonVilliod opened #1457 "Confidence score inference"
Hello,

I want to use Speechbrain to transcribe audio files. I would like to have an indicator that shows me the reliability of the transcriptions. Is there anything like that in Speechbrain or a way to get that information? Something like a confidence score? I've seen that this kind of functionality exists for ctc segmentation but I haven't found it for transcripts.

Thanks

[2022-06-21 16:53] SolomidHero opened #1459 "[Bug] huggingface_hub.cached_download() takes 1 positional argument but 2 were given"
Hi!

Followed [this model](https://huggingface.co/speechbrain/asr-crdnn-transformerlm-librispeech)
`speechbrain/asr-crdnn-transformerlm-librispeech`
from huggingface models hub.

## Error
code:
[code]

trace (catched in pytest):
[code]

# Versions

`pip freeze | grep -E hugging|speech`:
[code]

version of `huggingface-hub<0.8` works fine

## Solution

use_auth_token should be a keyword argument

H

[2022-06-22 07:37] Asma-droid opened #1462 "Loss is NaN for LibriSpeech receipe"
Hello,

I am trying to test how can train model with speech brain. I have chosen the Librispeech recipe.  when training LM, i have got this following error.

2022-06-21 20:40:24,602 - speechbrain.core - ERROR - Exception:
Traceback (most recent call last):
  File "/srv/nas_data/atrabelsi/speechbrain/recipes/LibriSpeech/LM/train.py", line 208, in <module>
    lm_brain.fit(
  File "/srv/nas_data/atr

[2022-06-22 07:58] TParcollet commented on #1462
Hi, are you training with the recommended yaml file ? Did you change anything ? How many GPUs are you using?

[2022-06-22 08:08] Asma-droid commented on #1462
@TParcollet , i have not changed the recommended yaml file. i use one GPU.

[2022-06-22 11:20] kirillkoncha opened #1463 "Add new label for language identification"
Hi!

I am trying to fine-tune language identification model. I followed the notebook tutorial on fine-tuning ASR model. However, I have trouble adding new label into the model. I would like to add new language their, so I edited label_encoder.txt and add there new line 'yk: Yakut' => 107, but during the training process I got the next error:

[code]

I don't know how to add target in loss calculat

[2022-06-22 12:12] camilotorron commented on #1459
I had the same issue this morning. I downgraded hugging-face version to 0.7.0 but still not working like yesterday. When performing "verification.verify_files()" this error appears:

'types.SimpleNamespace' object has no attribute 'mean_var_norm_emb'

[2022-06-22 12:15] TParcollet commented on #1459
@mravanelli shouldn't this be fixed now ?

[2022-06-22 14:13] Arnold-git commented on #1459
`from speechbrain.pretrained import SpeakerRecognition
verification = SpeakerRecognition.from_hparams(source="speechbrain/spkrec-ecapa-voxceleb", savedir="pretrained_models/spkrec-ecapa-voxceleb")
score, prediction = verification.verify_files("speechbrain/spkrec-ecapa-voxceleb/example1.wav", "speechbrain/spkrec-ecapa-voxceleb/example2.flac")

print(prediction, score)`

error

`--------------------

[2022-06-22 14:32] serkansulun commented on #1459
Try downgrading huggingface_hub:
`pip uninstall huggingface_hub && pip install huggingface_hub==0.7`

[2022-06-22 15:08] mravanelli commented on #1459
The issue is solved with the latest development branch only. Unfortunately,
it will affect the main branch until we release a new version of
speechbrain (which should be issued soon). As mentioned by Serkan, you can
install huggingface_hub==0.7 and everything will work as before.

On Wed, Jun 22, 2022 at 10:33 AM Serkan Sulun ***@***.***>
wrote:

[2022-06-22 20:26] pplantinga commented on #1267
I have just checked the speechbrain tutorial and was able to run it without issues.

[2022-06-22 20:28] pplantinga commented on #1164
I guess this error no longer occurs.

[2022-06-22 21:35] Andrey-847-2 opened #1467 "3rd party arpa LM to asr-crdnn-rnnlm-librispeech"
Hi,

Is there any example of attaching 3rd party arpa LM to existing model asr-crdnn-rnnlm-librispeech?

I see speechbrain.lm.arpa module, but there is no any examples of BackoffNgramLM usage.

[2022-06-23 13:40] AlmogAmiga commented on #1387
Hi, I've been facing a similar issue myself when I was trying to get EER on my dataset (SRE16 from Kaldi).
This happens because the code saves each FAR and FRR value inside an array (torch.tensor) and thus creates many values that take up all of the memory. My solution to that issue which I've applied only to the EER function and I'm sure that can be
also applied to the minDCF function is to save

[2022-06-23 14:24] GAN-pie opened #1469 "Failing tests"
Hi, I have fresh installed speechbrain from 0.5.8 to the last release and I spotted 4 tests that are failing with weird assertions. I'm not 100% sure but I do not think these tests were failing on the older install.

Here is the tests output:

[code]

[2022-06-23 20:34] TParcollet commented on #1467
Hi,

In the current version n-gram can easily be integrated with ctc_decode or pyctcdecode (external libraries). By the beginning of Fall, we will also release our own n-gram restorer :-)

[2022-06-23 20:35] TParcollet commented on #1447
Hi, this typically is due to OOM. Reduce the batch size and increase the gradient_accumulation to compensate.

[2022-06-23 20:36] #1436 closed

[2022-06-23 20:37] TParcollet commented on #1462
Ok, if you only use one GPU you will have to increase gradient_accumulation to compensate :-)

[2022-06-23 20:38] TParcollet commented on #1446
Hi, could you please describe what you are trying to achieve exactly? Putting the TIMIT model to an inference interface?

[2022-06-23 20:47] Andrey-847-2 commented on #1467
Great!

is there any example of such integration?

[2022-06-23 21:35] taylorchu commented on #1459
[code]

[2022-06-23 22:15] mravanelli commented on #1467
I think Aku ***@***.***) can provide some examples. In general I think LMs
and integration of ARPA LMs can be the object of a tutorial. What do you
think about Aku?

On Thu, Jun 23, 2022 at 4:47 PM Andrey-847-2 ***@***.***>
wrote:

[2022-06-24 09:46] grazder opened #1470 "`torch.arange` doesn't implemented for `float16`"
# Problem 👩‍⚕️

I found that when `x` is in `float16` this line doesn't work:

https://github.com/speechbrain/speechbrain/blob/c7219b5b2b5c1b8a68da23e81eae0046b6769556/speechbrain/nnet/attention.py#L345

It is important because when I train the model in `fp16` (with `autocast` for ex) it throws an exception.

# Repro 📔

[code]

 Return:
[code]

 It is reproducible in colab too

 # Workaround 👀

I

[2022-06-24 11:03] Arnold-git commented on #1459
@taylorchu this is just a future warning, you can ignore it with
[code]

[2022-06-24 18:29] kalvinchang commented on #1446
Yes. I am trying to put the TIMIT model through an inference interface.

[2022-06-24 18:58] TParcollet commented on #1446
Ok, this is due to the fact that the TIMIT recipe wasn't conceive to be used as an interface. BUT, you can do it easily. Take a look at https://huggingface.co/speechbrain/asr-wav2vec2-librispeech you'll see that the tokeniser is what you are looking for. In practice the corresponding recipe is here https://github.com/speechbrain/speechbrain/blob/develop/recipes/LibriSpeech/ASR/CTC/hparams/train_wi

[2022-06-24 18:59] TParcollet commented on #1467
I think @Moumeneb1 can give an example as well. Please provide a short piece of code showing how to connect the CTC output to a n-gram rescoring if you can :-)

[2022-06-27 07:33] anautsch commented on #1454
Hi @sangeet2020 both packages are handled by recipes via `extra_requirements.txt` or `extra_dependencies.txt` files to be installed with pip depending on which recipe is targeted. The reason is that not all recipes need these two packages for their minimal set-up. Unarguably, you are right in pointing out we should avoid errors. After glancing through recipes using pesq, not all of them have the p

[2022-06-27 08:57] nathphoenix opened #1474 "Can't load feature extractor for 'facebook/wav2vec2-large-xlsr-53'"
Hi @Gastron, [TParcollet](https://github.com/TParcollet), I was very happy coming across speechbrain toolkit for my master project on African ASR, However i have been having serious challenges for over 24 hours trying to train a model using FONGBE dataset which i have download and is supported by speechbrain network.
Below is the actual error i'm having.

[code]

when i run this command to start t

[2022-06-27 09:15] TParcollet commented on #1474
wav2vec2_hub: is a path to a hub or to a local folder containing ALL the files of the corresponding hub, so it should work if you just set it to: facebook/wav2vec2-large-xlsr-53

Be carefully that if you have a local folder in ./facebook/wav2vec2-large-xlsr-53 it will take this one first. If you wish to use it locally, you must clone the entire repo of facebook/wav2vec2-large-xlsr-53 using git-lfs

[2022-06-27 09:23] nathphoenix commented on #1474
Thank you, let me try and clone the entire repo, but this directory('./facebook/wav2vec2-large-xlsr-53') can be place anywhere in my directory, i just have to reference it properly in the yaml file.
Thanks for the heads up [TParcollet](https://github.com/TParcollet).

[2022-06-27 11:22] anautsch commented on #1469
Hi @GAN-pie thanks for reaching out! I can assist on the tests for profiling. We provided a wrapper to benchmark VRAM peaks and real-time demands. The reported errors are from mismatching number of nested function calls. We have had similar issues over the past weeks with test_profiling as the number of nested function keeps changing with operating systems, library versions etc. - sorry for that.

[2022-06-27 13:38] iman3sh opened #1477 "demo code in huggingface for 2 speaker separation is not working"

[2022-06-27 14:51] mravanelli opened #1479 "SpeechBrain 0.5.12 is out!"
We are happy to announce the new version of SpeechBrain! https://twitter.com/mirco_ravanelli/status/1541421131130961921

SpeechBrain 0.5.12 significantly expands our open-source toolkit with novel models, recipes, functionalities, and #tutorials for Conversational #AI.
Please, take a read to the release notes for more info:

https://github.com/speechbrain/speechbrain/releases/tag/v0.5.12

Let me w

[2022-06-27 15:18] GAN-pie commented on #1469
@anautsch 2 out 3 test_profiling.py seem to work properly now, but still one that is messing with the assert 1 == 0 statement.

`FAILED tests/unittests/test_profiling.py::test_scheduler[cuda] - assert 1 == 0`

`E       assert 1 == 0
E        +  where 1 = len([<FunctionEvent id=0 name=cudaDeviceSynchronize device_type=DeviceType.CPU node_id=-1 cpu_time=8.000us start_us=805 en...ead=0 input_shapes=[

[2022-06-27 17:56] sangeet2020 commented on #1454
Seems reasonable. Thanks for clearing that up.

[2022-06-27 17:56] #1454 closed

[2022-06-27 21:07] boyima-nureva opened #1482 "MetricGAN+ checkpoint out of date"
Hello,

I think the checkpoints uploaded to https://drive.google.com/drive/folders/1kQdfTr6yA_tGDxeadQQrR42SmOOkidRz is now out of date and no longer compatible with the current MetricGAN+ recipe.

Under `hyperparams.yaml`, the recoverables are now
[code]
while in the Google Driver folder, there is only a checkpoint for `model`, but not generator and discriminator.

Would it be possible for you to

[2022-06-28 04:35] meinantoyuriawan opened #1483 "X-vector size"
hello I have a problem extracting x-vector using :

`EncoderClassifier.from_hparams(
    source="speechbrain/spkrec-xvect-voxceleb",
    savedir="pretrained_models/spkrec-xvect-voxceleb",
)`

when I use encode_batch() the output vector size varies, sometimes shows 192 or 512. Do I use it wrong?

[2022-06-28 04:36] underdogliu opened #1484 "Installing scikit-learn in diarization script"
Hi all! I am now checking the diarization recipe via `recipe/AMI`. However, I found in the README and `extra_requirements.txt`, the library installed is `sklearn`, not `scikit-learn`. The latter, I believe, is the right library if one wants to use scikit-learn functions. So I think we may want to fix it? Or `sklearn` (whose version is always 0.0) is what we want here?

[2022-06-28 06:12] nathphoenix commented on #1474
Hi [TParcollet](https://github.com/TParcollet) Please i have clone the repo from huggingface which contains all the files and I reference the path in my yaml file in this manner : wav2vec2_hub: C:/Users/nathk/Documents/facebook/wav2vec2-large-xlsr-53
Using transformer==4.20
I got this error:
[code]

but when i use transformer==4.15 :
I got this error below
`404 Client Error: Not Found for url: htt

[2022-06-28 06:17] TParcollet commented on #1474
Oh crap it's windows. @Gastron should path downloading be compatible with windows ?

[2022-06-28 06:45] nathphoenix commented on #1474
Yea @TParcollet , i'm thinking about that too, i'm setting it up on my ubuntu system, hopefully everything should work fine as expected. Will keep you posted when successful. Thanks for the effort so far.

[2022-06-28 07:26] anautsch commented on #1477
Thanks for notifying us @iman3sh !

Please provide an example of what is not working precisely and how so. (just to be on the same page)
If you have a fix ready for proposing a PR, please contribute it.

[2022-06-28 09:20] GAN-pie commented on #1469
@anautsch outputs are exactly the same on my computer pytorch=1.11+cuda=11.3.1

Also, I tried to run pytest without the cuda flag and it returns the same assertion error.

[2022-06-28 09:30] kirillkoncha commented on #1448
Yes, thank you for your answer!

I

[2022-06-28 09:55] #1448 closed

[2022-06-28 10:12] anautsch commented on #1469
@GAN-pie ok, at least that - please let us try one more remote debugging.

[code]
It should give an empty line. You can also try:

[]
 brain_or_pretrained.profiler.profiler
[]

On the contrary, with:
[code]

Results in a benchmark table and the other two lines give a list of FunctionEvents back. I'm curious how it looks on your side. I'll have to test it later with our setting. Want to be sure, I

[2022-06-28 10:18] underdogliu commented on #1483
Hi @meinantoyuriawan thanks for the issue! So could you please explain a bit more on the background and maybe some code cohort? For example, which recipe/example/tutorial you are currently looking at?

[2022-06-28 10:36] GAN-pie commented on #1469
On my side it behaves differently.

`>>> print(brain_or_pretrained.profiler.events())` does not gives an empty line, but the following:
[code]
and `brain_or_pretrained.profiler.profiler` returns:
[code]
However, when using:
[code]
It returns a float: `0.682352602481842`
Then `print(brain_or_pretrained.profiler.events())` gives me:
[code]
Finally `brain_or_pretrained.profiler.profiler` outputs the

[2022-06-28 11:00] anautsch commented on #1469
Yes, we need to filer out the cuda events...

cudaGetDeviceCount
cudaGetDeviceProperties
cudaGetDeviceProperties
cudaDeviceSynchronize

are not essential to the profiling for realtime & peak memory, although they take some time in this minimal example.

Have to think about what's better here - restrict the unit test to cpu-only or to filter out the cuda preliminary checks (only for the test - or i

[2022-06-28 16:29] vadimkantorov commented on #1470
Also, float16 has max value of 65536 and quite inaccurate in the higher range, so using it for length calculation (if at all) should be done with extreme caution

[2022-06-28 16:36] TParcollet commented on #1470
That is interesting, @popcornell ?

[2022-06-28 19:57] popcornell commented on #1470
I also encountered this error. I tried to fix it, and it is quite easy to do so.
However I got much worse performance for vanilla transformer.
In my understanding half precision is broken right now. Didn't investigate further.

Probably for ASR or NLP will be fine as you will not end up with such long sequences.
But frankly nemo solution or using int64 is better.

[2022-06-29 00:10] vadimkantorov commented on #1470
@grazder which version of PyTorch are you running? @ngimel suggests in https://github.com/pytorch/pytorch/issues/80483#issuecomment-1169381845 that torch.arange for float16 should be supported in recent versions

(not implying that speechbrain should use fp16, i argue for the use of int64 or float32)

[2022-06-29 00:34] meinantoyuriawan commented on #1483
hey @underdogliu  , I want to do a voice recognition project using x-vector embedding and tried to extract the x vector using the `EncoderClassifier.from_hparams( source="speechbrain/spkrec-xvect-voxceleb", savedir="pretrained_models/spkrec-xvect-voxceleb", )` I am not looking at specific tutorial, just read a few source about sound recognition using x-vector and plda.

[2022-06-29 01:12] vadimkantorov commented on #1470
Also for float16 is badly supported on CPU (https://github.com/pytorch/pytorch/issues/80483#issuecomment-1169404072), it should probably be changed to default int64 or float32 that are supported on most devices

[2022-06-29 01:13] vadimkantorov commented on #1470
@popcornell Do you mean model accuracy was much worse? or computation speed?

[2022-06-30 07:37] heunggyulee commented on #1469
exactly same situation.

[2022-07-01 00:21] sangeet2020 opened #1489 "Device error when setting `deltas=True` in `speechbrain.lobes.features.Fbank`."
While extracting features of a wave tensor, I tried to use delta coefficients along with 40 filter-bank coefficients by setting `deltas=True` in `speechbrain.lobes.features.Fbank`. However, this runs into
[code]
The error lies in the [this line](https://github.com/speechbrain/speechbrain/blob/develop/speechbrain/processing/features.py#L838).
Changing it to (just for debug shake)
[code]
fixes the e

[2022-07-01 08:02] anautsch commented on #1441
Hi @Pupiera - we are currently getting back to this PR #751 to refactor scoring. Take a look!

It will take a while and we can't make promises here before mid fall.
Of course, you are welcome to contribute.

[2022-07-01 09:55] Pupiera commented on #1441
Thanks for the answer, I'll check this PR.

[2022-07-01 09:55] #1441 closed

[2022-07-02 07:43] ChangLee0903 opened #1492 "MetricGAN+ generator backward issue"
Hi, the speechbrain team,

Thanks for sharing this awesome tool to bring the convenience of reproducibility! I noticed that the input that feeds to train the discriminator is not the detached version. This means the gradients in the last step of the discriminator training process will not be cleared and thus perhaps affect the generator training process.
Moreover, during the generator training pro

[2022-07-02 08:51] ChangLee0903 commented on #1492
Sorry, I just read it wrong. No problems remain now.

[2022-07-02 08:51] #1492 closed

[2022-07-04 08:38] mjrog3 opened #1493 "Torch 1.12 not compatible?"
working to install speechbrain 0.5.12, and getting the error that "speechbrain 0.5.12 requires torch<=1.11,>=1.7, but you have torch 1.12.0 which is incompatible." read elsewhere that it should work with >=1.7.

[2022-07-04 10:28] helloworld02202 opened #1494 "ECAPA TDNN length_to_mask"
I am confused with the using of length_to_mask here, where `lengths * L`
Any idea of doing so? Because for simple case like lengths with size (B,) = (2,) and values [10,100], it will become [1000,10000]

https://github.com/speechbrain/speechbrain/blob/7897537fe929affa8e809b0229f464acbca7632d/speechbrain/lobes/models/ECAPA_TDNN.py#L254

[2022-07-05 03:46] lawlict opened #1495 "`make_dataloader` always sets shuffle=False when DistributedSampler is employed."
In speechbrain.core.Brain class, when DistributedSampler is employed, it sets shuffle to False. Is there any reason to do so?
![image](https://user-images.githubusercontent.com/35951198/177245522-fe1ebcab-351b-476f-b235-4e36af12efe5.png)

[2022-07-05 08:24] Craya commented on #1332
Hi @TParcollet ,

We have the exact same need as @73minerva, do you still confirm the target date of end of summer for LM integration?

We don't want to spend hours this summer on a ineficient internal LM that would be overwhelmed by your future release...

Thanks for your feedback

Fabien.

[2022-07-05 08:30] TParcollet commented on #1332
We added many things to the next major version, so it will most likely be postponed to Fall. Note that a pyctcdecode integration would be extremely simple to do (literally just to call the function on our CTC logits) if you wish to add an n-gram model. If it's RNNLM or Transformer LM and CTC only, well, you may need to wait indeed. One solution here is to follow the "Unstable" branch, so you can b

[2022-07-05 10:37] RuABraun opened #1496 "Brain's check_gradients seems to not do what name implies?"
Was trying to debug something of mine and noticed two things:

1. [check_gradients](https://github.com/speechbrain/speechbrain/blob/develop/speechbrain/core.py#L888) does not actually check the gradients, it checks the loss [which does not have to be NaN if the gradients will be](https://discuss.pytorch.org/t/loss-is-not-nan-but-the-gradients-are/21224)

2. the [GradScaler's step will use unscale

[2022-07-05 15:06] msj121 opened #1497 "Preferred Bit Rate"
Do models have there preferred bit rates (and other settings) for wav files? Currently I am using the following model with not great accuracy: ([speechbrain/spkrec-ecapa-voxceleb](https://huggingface.co/speechbrain/spkrec-ecapa-voxceleb)).

But I assume I am missing something in my wav file setup. Thanks.

[2022-07-06 16:11] AMITKESARI2000 commented on #1246
I was somehow not able to download [AMI manual annotations v1.6.2](http://groups.inf.ed.ac.uk/ami/AMICorpusAnnotations/ami_public_manual_1.6.2.zip) by clicking on the link, but doing `wget http://groups.inf.ed.ac.uk/ami/AMICorpusAnnotations/ami_public_manual_1.6.2.zip` gave me the zip file i needed.

![image](https://user-images.githubusercontent.com/66141447/177595588-a517cb6a-1bab-4f79-8f72-bccb

[2022-07-07 06:56] AMITKESARI2000 opened #1499 "AMI Diarization recipe databse folder structure"
Hi,
I am trying to run the diarization recipe but  `No recording IDs found! Please check if meta_data json file is properly generated.` is being shown. I came to know that this is due due to incorrect folder structure of the AMI data folder (manual annotations folder is the same from website).
Could you please add the directory structure in the documentation as well.

Current system:
![image](http

[2022-07-07 08:26] Juliaququ commented on #1477
I also meet the error

[2022-07-07 19:36] Andrey-847-2 commented on #1467
@Moumeneb1 , did you have a chance to look at this? (see above)

[2022-07-08 01:38] justinklchan opened #1500 "CoreML conversion issue"
I am trying to convert the Resepformer model to CoreML

[code]

This yields the error
[code]

Does anyone know what the issue is here?

[2022-07-08 15:10] AMITKESARI2000 commented on #600
Any update on this ?
Still getting same error for `speechbrain==0.5.12` pip installation

[2022-07-12 09:38] TParcollet commented on #1489
Hi thanks! Any chance you could propose a quick fix for that? I guess we would have to retrieve the correct device though as they can be extracted from GPUs as well.

[2022-07-12 09:39] TParcollet commented on #1493
Hi,

Torch 1.12 just appeared, we can't guarantee that everything will work but from the patch note, we don't see any reason why it would break SB. Please try and let us know :-D

[2022-07-12 09:40] TParcollet commented on #1494
Hi, this is a question for @mravanelli and @anautsch

[2022-07-12 09:41] TParcollet commented on #1495
Hi, yes there is a reason for that @Gastron and @popcornell might remember why, actually even @RuABraun as well might know.

[2022-07-12 09:42] TParcollet commented on #1497
Hi,

Indeed, models are usually trained with fixed bit rates that are connected to the training dataset. I am not sure about VoxCeleb but you will certainly find this information in the YAML or the corpus description

[2022-07-12 15:51] sangeet2020 commented on #1489
@TParcollet sure, I will initiate a pull request that
- proposes a quick fix for this.
- adds epoch train time as discussed in [here](https://github.com/speechbrain/speechbrain/issues/122) (already discussed with @mravanelli )

Thank You

[2022-07-13 04:18] suhasiniselvam opened #1501 "Sizes of tensors must match except in dimension 1. Expected size 4 but got size 2 for tensor number 1 in the list."
What is the value of inp and c in RNN.py?

Traceback (most recent call last):
  File "/home/suhasini/Downloads/Speech Brain/ASR/train.py", line 410, in <module>
    asr_brain.fit(
  File "/home/suhasini/miniconda3/envs/speechbrain/lib/python3.10/site-packages/speechbrain/core.py", line 1129, in fit
    self._fit_train(train_set=train_set, epoch=epoch, enable=enable)
  File "/home/suhasini/minicond

[2022-07-13 08:22] #1459 closed

[2022-07-13 14:57] kaylC4 commented on #1493
Meanwhile I found the following workaround on Colab:

**BEFORE installing speechbrain:**
`!pip uninstall torch`
`!pip uninstall torchvision`
`!pip uninstall torchtext`
`!pip uninstall torchaudio`

This should avoid all incopatibility issues.
Then I do not get the exact order to reinstall because while installing **torch**, it requires **torchvision**, and viceversa but at the it works for me:
`!pi

[2022-07-13 15:29] TParcollet commented on #1493
@pplantinga @lumaku is this linked to pypi?

[2022-07-13 17:25] thadeous opened #1503 "gumbel-softmax temperature decay in wav2vec pretraining recipe"
It appears the Common Voice / self-supervised learning / wav2vec training recipe does not decay the gumbel-softmax temperature.  Instead, the value stays constant at 2 (incentivizing higher exploration in quantized code book sampling).  In a few experiments, it appears advantageous to follow a similar decay process as seen in the Huggingface Trainer: https://github.com/huggingface/transformers/blo

[2022-07-13 20:51] TParcollet commented on #1503
HI! Very interesting, I was not aware of that decay. Yes, it should be called here. Maybe these parameters should be put in the yaml as w so they can be accessed with self.hparams. Any chance that you could do a PR for that?

[2022-07-13 20:53] TParcollet commented on #1501
Hi, you can play with the small example in the docstring that will isolate this class so that you can investigate the input and output shape of the module :-)

[2022-07-13 23:06] lumaku commented on #1493
@TParcollet  Actually, I think it is the requirement from `setup.py`:
https://github.com/speechbrain/speechbrain/blob/bc3c7287e521a4b0927785f3fcb809d2ba90318a/setup.py#L40

[2022-07-14 00:16] pplantinga commented on #1493
It might be worth doing a small release (5.13) to address this.

[2022-07-14 11:37] Moumeneb1 commented on #1467
Hi !
It's made simple to utilize pyctcdecode with a speechbrain trained EndoderASR model; all you have to do is encode the batch and import the right labels from the tokenizer that has already been exported. Following that, you must use pyctcdecide to load the arpa/bin file and do the decoding; batching is another option (multiprocessing not gpu parallelism). This as an easy example.

[code]

[2022-07-14 16:48] pplantinga commented on #1496
I agree that a different name could be more informative. Something like `check_loss_isfinite` or similar.

[2022-07-18 09:47] KacperKubara opened #1506 "Out of Memory Error for CRDNN architecture"
Hi!

For my research project, I am finetuning a CRDNN model (from Speechbrain) to see if certain subset of audio samples will affect the model's performance in a different way.

This means that I will have .fit() function triggered few times in a training loop. After ~two train() calls, I am getting OOM error from the model, however.

To debug it, I checked what tensors are 'hanging' after each lo

[2022-07-18 09:53] KacperKubara opened #1507 "How to evaluate model with current weights?"
Hi,

While I am running a pretrained CRDNN model, I finetune it on some data with .fit() method. Then, I would like to see its performance with .evaluate() function.

However, when I run the evaluate() function the log is something like this:
[code]

As you can see, it seems that model is evaluated on Epoch 15 which probably indicates that it loads weights from that epoch instead of using the weig

[2022-07-18 16:49] #1493 closed

[2022-07-19 19:25] pplantinga commented on #1500
@ycemsubakan ? What is this "remainder" op?

[2022-07-19 21:05] ycemsubakan commented on #1500
@justinklchan @pplantinga I am not sure what's happening here. I just tried the inference with RE-Sepformer using the latest version of the develop branch of speechbrain, and it is working fine. I guess this might be due to something about coreml?

[2022-07-20 07:42] hbredin opened #1509 "Use specific version of a model hosted on Hugginface"
`huggingface_hub.hf_hub_download` supports passing a `revision` parameter to `hf_hub_{url|download}` to load a specific version (understand: commit, tag, or branch head) of models hosted on Huggingface Hub:

[code]

It would be nice to expose this `revision` parameter in `speechbrain` so that one can pin a model to a specific version (and ensure that a given code will still behave the same even if

[2022-07-20 07:56] KacperKubara commented on #1507
Hi @TParcollet, do you perhaps know how to overcome that? :)

[2022-07-20 08:16] TParcollet commented on #1509
Done https://github.com/speechbrain/speechbrain/pull/1510.

[2022-07-20 08:18] TParcollet commented on #1507
Hi @KacperKubara, yes I do. However, let me first redirect you to the corresponding [tutorial](https://colab.research.google.com/drive/1VH7U0oP3CZsUNtChJT2ewbV_q1QX8xre?usp=sharing) as you could learn much more than just this feature from our checkpointer ;-)

[2022-07-20 08:20] KacperKubara commented on #1507
Ok, nice thanks!

[2022-07-20 08:21] TParcollet commented on #1506
Hi, I am sorry, but I am not even sure to properly understand what causes these logs :/ Could you explicit a bit more what we are witnessing here, in term of actual experiment and pipeline?

[2022-07-20 08:21] TParcollet commented on #1503
Thanks @thadeous !!

[2022-07-20 08:23] KacperKubara commented on #1506
Hmm, I actually think I have just fixed that issue. I need to test it a bit more but I don't get the OOM anymore.

The problem was in 2 areas, I think:

1) Audios were slightly too long. After changing max audio length from 10s to 8s, it seems to be okay now
2) I was saving part of the computational graph to get gradients from certain layer in the model (part of my experiments). During the trainin

[2022-07-20 09:20] KacperKubara commented on #1507
Alright, but I guess my questions is then how can I turn off the checkpoint loading when I trigger the evaulate() function from Brain class?

Should i delete the checkpointer with `del brain.checkpointer`, or do `brain.checkpointer.delete_checkpoints(num_to_keep=0)` ?

[2022-07-20 09:55] TParcollet commented on #1507
I will let our Master of checkpoints @Gastron answer here. I guess he is in vacation though.

[2022-07-20 09:56] TParcollet commented on #1507
(In practice, you can, I believe, just pass an argument that forces to use the latest instead of the best using the keys).

[2022-07-20 11:59] KacperKubara commented on #1507
`brain.checkpointer=None` works.
I looked over the source code for ` brain.checkpointer.delete_checkpoints(num_to_keep=0)` but this delets the checkpoints from the directory which is not exactly what I want to do.

[2022-07-20 11:59] #1507 closed

[2022-07-20 20:28] TParcollet commented on #1494
Hi @helloworld02202, sorry for the late reply, I only found time to look into the code again. This function must return the mask i.e. will need to retrieve the max sentence length. This is why lengths is multiplied by L. L corresponds to the time dimension, hence, it is multiplied with the length vector that contains the relative lengths of the current sequences with the SpeechBrain style.

[2022-07-23 09:59] #1509 closed

[2022-07-23 19:23] AMITKESARI2000 opened #1513 "speaker diarization test and train on VoxConverse tutorial"
Hi,
Thanks for the repo!
I have seen the AMI recipe for speaker diarization but it s a bit hard to follow, so could you please add a small tutorial for some other dataset like VoxConverse on how to use it, train it and tune the hyperparameters.
I know its a lot to ask but it will help the community a lot!
Thank you

[2022-07-25 14:27] KacperKubara opened #1514 "topk argument should also return top k hypothesis"
For all classes inheriting S2SBeamSearcher, if I set the **topk** argument only top k scores are returned. Snippet from the last part of the forward() function of this class

[code]
As you can see, only topk scores are returned, not top k hypothesis.

That it is incorrect, as according to the documentation: `topk  – The number of hypothesis to return. (default: 1)`.

[2022-07-26 06:58] kokamido opened #1515 "torch.dataloader may freeze if ClearML and Speechbrain are used simultaneously"
Hi. I faced a curious issue related to ClearML ([docs](https://clear.ml/docs/latest/), [github](https://github.com/allegroai/clearml)) and Speechbrain.
I use ClearML to track my experiments. In order to track something I have to create a [Task](https://clear.ml/docs/latest/docs/references/sdk/task/) object. It tries to configure many things on init.
Also I have to call [create_experiment_directory

[2022-07-26 07:16] kokamido commented on #1515
I'm not sure about it but maybe this os.fork patch is related to the issue
https://github.com/allegroai/clearml/blob/0397f2b41e41325db2a191070e01b218251bc8b2/clearml/task.py#L636
https://github.com/allegroai/clearml/blob/9f1487a9235fb449ee169ceeb1c459361191a382/clearml/binding/environ_bind.py#L88

[2022-07-26 09:07] kirillkoncha opened #1516 "Can't add new language to pre-trained spoken language recognition model: Model forgets other languages"
Hello,

I am trying to fine-tune existing spoken language recognition model. I chose common voice language and trying to add new language. I did things exactly as they are described in fine-tuning tutorial (and ensured unknown label in label encoder as well).

I also tried to freeze more layers, for example, I froze every modules except classifier. However, when I fine-tune the model, the performa

[2022-07-26 10:01] poor1017 opened #1517 "Can NOT speed up with DDP"
Hi

I can not speed up training with DDP for `recipes/WHAMandWHAMR/enhancement/train.py`. My DDP command line is:

[code]

Compare to:

[code]

DDP mode cost almost the same time.

Could you help to check this issue?

Thank you!

[2022-07-26 12:54] mravanelli commented on #1516
Hi,
thank you for sharing your results. I'm not sure I totally understood your problem. However, if you use a pre-trained model (e.g., on English) and you fine-tune it on data from another language (e.g., French) it is normal that the performance in English gets worse. This phenomenon is called catastrophic forgetting. To mitigate it, there are different possible solutions. One consists of periodi

[2022-07-26 17:11] RuABraun commented on #1495
Was kind of hoping someone else would take care of this, I will open a PR to fix this by tomorrow.

[2022-07-26 18:00] TParcollet commented on #1495
Hey @RuABraun I guess everyone is in vacation right now :p

[2022-07-26 18:04] kirillkoncha commented on #1516
Thank you for answer!
I included different languages data along with new language (I fit 19 languages into the model, e.g., French, English and Kyrgyz, which was not represented in the original pre-trained model). During training model at certain point starts to assign one certain label (for example, French) to every language I want to predict.

However, I did not shuffle my training set and the d

[2022-07-26 22:44] #1495 closed

[2022-07-26 22:45] mravanelli commented on #1516
That could play an important role. I think it is important to make sure there are data from different languages in each batch.

[2022-07-28 09:49] courentin commented on #1493
Hello, any news on a small release ? :)

[2022-07-28 13:19] GAN-pie opened #1521 "Unnecessary spaces in VAD save_boundaries method"
Hello,

Here is the `print_str` :

` "segment_%03d " + value_format + value_format + "NON_SPEECH"`

the `value_format` is set to `"% i"` or "% .2f " and it adds unnecessary space to the output file. To avoid this space would lead to a much more easier parsing of VAD text files, if those spaces do not serve a particular purpose.

Best

[2022-07-28 15:35] VitoPepe commented on #1332
Hi @TParcollet

I tried your method with pyctcdecode to integrate a ngram model. However when I decode my file with the decode function of pyctcdecode, the transcription that I get is incoherent. Do you have an idea of why my pyctcdecode integration is bad ?

[code]

Thanks for you feedback,

Simon

[2022-07-29 00:26] fosimoes opened #1522 "No module named 'torch.autograd.profiler_util' error"
I am getting the following error when importing speechbrain.

    import speechbrain as sb
speechbrain/__init__.py:4: in <module>
    from .core import Stage, Brain, create_experiment_directory, parse_arguments
speechbrain/core.py:35: in <module>
    from speechbrain.utils.distributed import run_on_main
speechbrain/utils/__init__.py:11: in <module>
    from . import *  # noqa
speechbrain/utils/pro

[2022-07-29 13:12] anautsch commented on #1522
@fosimoes sorry to hear that - and thanks for reporting.

We introduced profiling based on pytorch's profiler in v0.5.12 - I looked into it and tested with pytorch 1.10 and 1.11 - earlier pytorch versions didn't had `torch.autograd.profiler_util` (hence the comment); looks like they removed it afterwards again (althought a legacy pytorchh profiler library existed already with pytorch 1.11, if I re

[2022-07-29 13:15] mravanelli commented on #1522
Hi Andrea,
maybe we can take the profiling test out and run them only periodically
(just like what we do with other tests like the recipe tests, etc). What do
you think?

On Fri, Jul 29, 2022 at 9:12 AM Andreas Nautsch ***@***.***>
wrote:

[2022-07-29 14:53] fosimoes commented on #1522
update:
Despite using a dockerfile based on pytorch:1.11.0, I was forcing torchaudio to v0.9.0 (due to previous conflicts), which caused pytorch to downgrade to v1.9.0.  So my tests were actually run on pytorch 1.9.0, which caused the profiler to fail.
So I changed my dockerfile to force torchaudio to v0.11:
 - pip install torchaudio==0.11.0 -f https://download.pytorch.org/whl/cu113/torch_stable.h

[2022-07-30 05:12] EddyGiusepe commented on #1150
Hello everyone!
I have a question, @karla3jo or someone there who can help me, please!

I trained the [SpeakerIDfromScratch](https://colab.research.google.com/drive/1UwisnAjr8nQF3UnrkIJ4abBMAWzVwBMh?usp=sharing) tutorial with my Data and then applied the fine tuning (Transfer Larning).
I wanted to know if I did it correctly in training to unfreeze the layers? ... for that I modified:

freeze_param

[2022-07-30 16:15] mravanelli commented on #1522
I'm able to replicate the error as well when I install pytorch 1.9 (and
torchaudio 0.9). Any idea Andreas?

On Fri, Jul 29, 2022 at 10:53 AM fosimoes ***@***.***> wrote:

[2022-07-30 16:34] zohaibmushwani commented on #573
Hi ,SIr please update me if there is any update about tutorial..?
it will be highly apprecaited.
thank you

[2022-07-31 08:24] erezalg commented on #1515
Hi @kokamido,

We've released and rc with a fix to this issue, could you please test by installing pip install clearml==1.6.3rc1

[2022-08-01 03:39] heunggyulee opened #1524 "[Speech separation] Train model inference Error"
Hello. First of all, Thank you for sharing nice code :)

I trained Speech separation model(aishell1mix2) 13 times epoch and got save folder
"results/sepformer-aishell1mix2/1234/save/CKPT+2022-08-01+07-18-54+00/"

i want to use save model to inference with my mix audio file.
so i used below code and i got an keyerror 'pretraine'

**from speechbrain.pretrained import SepformerSeparation as separator

[2022-08-01 10:23] anautsch commented on #1522
@mravanelli testing is not the only issue here - I did too much and it became too stiff to a particular version, apparently. Sorry for that. The profiling profiles pytorch way too well -./'
No strong feelings here; your intuition some weeks back was pretty on point, ensuring the patch is pytorch future safe.

@fosimoes thank you for testing further. Despite bad news, it's valuable! I took the brok

[2022-08-01 20:24] mravanelli commented on #1455
Unfortunately torch.stft (used in many places, such a feature computation) is not ONNX exportable.  I'm running into the same problem, but I don't have a solution. It could be great to have this operation supported in ONNX, as many people are asking it.

[2022-08-01 21:05] nateanl opened #1527 "The rir_waveform should be flipped in reverberate, when use_fft=False?"
When applying convolution on `waveforms` and `rir_waveform`, the `rir_waveform` is flipped in numpy or scipy implementations. But in speechbrain's implementation, the `rir_waveform` is directly used when [the solution is not FFT](https://github.com/speechbrain/speechbrain/blob/develop/speechbrain/processing/signal_processing.py#L268-L274). This may lead to mismatch between the two solutions.

[2022-08-01 21:43] mravanelli commented on #1527
@pplantinga

[2022-08-01 23:27] kirillkoncha commented on #1516
I ensured that every batch contains all languages I want to detect and fine-tuned model, it worked pretty fine. Thanks a lot!

[2022-08-02 09:13] #1455 closed

[2022-08-02 09:16] ginaai opened #1528 "Error MSG from KsponSpeech_decode_example.ipynb on colab notebook"
![pip install_result](https://user-images.githubusercontent.com/104552811/182337907-d9e2c144-da5a-4813-840f-88e10a166ff1.jpg)
![asr_model_EncoderDecorderASR_error](https://user-images.githubusercontent.com/104552811/182337945-0ad57535-d53b-4249-a7c9-55fd76907fa5.jpg)

Regarding KsponSpeech_decode_example.ipynb on colab notebook, I have a problem with "TypeError: cached_download() takes 1 positiona

[2022-08-03 19:17] nateanl commented on #1527
For clarification, there is no `use_fft` argument in `reverberate` method, and `use_fft` is always True when computing `convolve1d`. So there is no issue when calling the method. That being said, it will be great to fix the time-domain convolution solution in case it is used in the future.

[2022-08-04 01:54] heunggyulee opened #1529 "Speaker diarization not working"
Hi. I started below code and not working also delayed too much time.
Until yesterday it works well but today may there is some problem.
Check Plz Thank you

diarization_pipeline = Pipeline.from_pretrained("pyannote/speaker-diarization@2022.07")
# apply pretrained pipeline
diarization = diarization_pipeline(DEMO_FILE)

File ~/anaconda3/envs/speech_to_text_yip/lib/python3.8/site-packages/pyannote/au

[2022-08-04 04:41] EddyGiusepe opened #1530 "Trying to apply TorchMetrics on SpeakerID"
Hello everyone!
Can someone help me clarify the following:
Currently, I followed the tutorial and trained the [SpeakerIDfromScratch](https://colab.research.google.com/drive/1UwisnAjr8nQF3UnrkIJ4abBMAWzVwBMh?usp=sharing) task.
I'm making some predictions with the trained model, plotting the LOSS curves, etc... But I'm also trying to calculate the [AUROC](https://torchmetrics.readthedocs.io/en/stabl

[2022-08-04 09:41] maaly-zayed opened #1531 "Language Model in Speech Recognition template not working"
I tried to run the Language Model in the  [speech recognition](https://github.com/speechbrain/speechbrain/tree/develop/templates/speech_recognition) template but unfortunately this error appeared.
ImportError: There is no such class as templates.speech_recognition.LM.custom_model.CustomModel

Note: I installed speechbrain inside an activate environment, also I upgraded speechbrain.

![speechbrain_

[2022-08-05 06:32] kfmn opened #1532 "Unable to continue training of MetricGAN+ from the saved checkpoint"
Hi,

I'm training MetricGAN+ on my own dataset. Training was OK for more than 200 epochs but then failed due to some reason.
I tried to re-run it from the latest saved checkpoint but got a strange error. When I tried to re-run it from previously saved checkpoint (best wrt. PESQ) the error repeated.

The log of error is below:
`....
speechbrain.utils.epoch_loop - Going into epoch 203
Discriminator

[2022-08-05 08:38] poor1017 commented on #1517
Hi @Samuele Cornell, @Cem Subakan
I found the reason that makes DDP do not work:
[https://github.com/speechbrain/speechbrain/blob/develop/recipes/WHAMandWHAMR/enhancement/dynamic_mixing.py#L216](url)

Can you tell me the reason you wrap `train_data` with `torch.utils.data.DataLoader`?

Thank you

[2022-08-06 11:34] Gdgdgdgdgdgdgdgdgdg commented on #928
Ты лох

[2022-08-06 11:35] Gdgdgdgdgdgdgdgdgdg commented on #928
Loxxx

[2022-08-08 09:58] AleiChan commented on #637
Hi, how to export the model using torch.jit.script , please?

[2022-08-08 12:55] egruttadauria98 opened #1533 "Wrong verification list in the Readme at speechbrain/recipes/VoxCeleb/SpeakerRec/"
The README specifies multiple times that the verification list is veri_split.txt, but in the hparams the one that is actually downloaded is veri_split2.txt

[2022-08-09 07:48] mhn226 opened #1534 "Segmentation fault (core dumped) anytime importing fairseq after speechbrain"
Hi,

I have this weird issue anytime trying to import fairseq after speechbrain:  Segmentation fault (core dumped)

The other way around (importing fairseq before speechbrain) seems OK.

Does anyone have an idea of what happened?

[2022-08-10 08:56] TParcollet commented on #1532
This looks like an issue created by Pytorch 1.12 [see](https://github.com/pytorch/pytorch/issues/80809). As a verification, could you try to downgrade to PyTorch 1.11 and start again ?

[2022-08-10 08:57] TParcollet commented on #1521
Hi @GAN-pie, could you please open a PR? We will discuss this directly in the PR :-) Thanks!

[2022-08-10 08:59] TParcollet commented on #1524
Hi, I encourage you to first read properly the tutorial we provide on our website for inference. It is most likely that you did not create the pretrainer in your YAML :-) Inference is something very particular as it may change depending on the needs (e.g. stability for production, flexibility for research etc). Hence, SpeechBrain provides multiple ways of doing it, all are describe on the tutorial

[2022-08-10 09:21] TParcollet commented on #1531
Hi, I tried with a fresh install, and everything works fine. Hence I am not able to reproduce the error. It is most likely that this is due to a problem in the installation or in the path. I see that you are using Windows, I have no real experience in setting properly the path there ...

[2022-08-10 09:25] TParcollet commented on #1534
<img width="507" alt="Capture d’écran 2022-08-10 à 11 24 54" src="https://user-images.githubusercontent.com/11910731/183866058-f212c5d8-74f2-42b1-b47e-090bde460027.png">
Hi, unfortunately, unable to reproduce the error :-(

[2022-08-10 09:26] #1489 closed

[2022-08-10 12:33] mravanelli commented on #1532
If the problem was adam-related,  this has been resolved with pytorch 1.12.1

On Wed, Aug 10, 2022, 4:56 AM Parcollet Titouan ***@***.***>
wrote:

[2022-08-10 17:26] mattnappo commented on #1499
Did you end up finding a solution to this? I am having the same issue

[2022-08-10 17:30] mattnappo commented on #1301
"nn" = nearest neighbors

[2022-08-10 17:50] alamnasim commented on #1240
Hi @Dabuk
I am also facing same issue while training on SAVEE and RAVDESS. Can You please let me know how did you solved this issue.

[2022-08-10 18:01] mravanelli commented on #1499
Any idea Nauman?

On Wed, Aug 10, 2022, 1:27 PM Matt Nappo ***@***.***> wrote:

[2022-08-12 21:55] Hemanshu-Bhargav commented on #1531
Hi,

I have the same issue using a Linux system (Google Colab). I've ensured that the custom model is in the correct directory (as suggested in [https://speechbrain.discourse.group/t/importerror-there-is-no-such-class-as-custom-model-custommodel/130](this post)) but it hasn't solved the problem.

Does anyone have any other suggestions?

Thanks,
Hemanshu

[2022-08-12 22:53] buddhicw opened #1538 "Plugging in a custom model"
Hi,

Seems like an obvious question. But I could not find a solution anywhere.

I am trying to train an ASR model containing a custom neural network with CTC using TIMIT database. I tried to add _myCRDNN_ to lobes/models and defined this in train.yaml. But I get the following error.

Is this expected? Is it not possible to plugin our own models to Speechbrain?

![image](https://user-images.githubu

[2022-08-12 22:57] mravanelli commented on #1538
I think it is expected. Likely, you can fix it by refreshing the
installation with pip -e . from the main speechbrain folder.

On Fri, Aug 12, 2022, 6:53 PM buddhicw ***@***.***> wrote:

[2022-08-13 03:23] buddhicw commented on #1538
Refreshing the installation fixed the problem. Thank you.

[2022-08-13 03:43] #1538 closed

[2022-08-14 05:38] a-v-ebrahimi opened #1539 "Can't run speechbrain/sepformer-whamr16k on Windows"
I installed pytorch, speechbrain and other packages, now when I run speech enhancement sample, I receive this error :

[code]

[2022-08-15 11:49] prothej227 opened #1540 "Missing documentation on how to load a trained model"
Hi!

Does anyone know how to load and make inference out of the trained model (ckpt)?

[2022-08-15 11:56] TParcollet commented on #1540
Hi, please have a look at our tutorials. There is one dedicated to this.

[2022-08-15 15:17] kirillkoncha opened #1541 "Multi-label classification"
Hi!

Is there any example of multi-label classification with SpeechBrain? What should I do if I want to predict two classes with one model (for example, language and mood)?

[2022-08-16 01:13] prothej227 commented on #1540
Is this what you mean Sir? https://colab.research.google.com/drive/1137MD-gAERblRAVhxDnwNXV3YyAiwtxV?usp=sharing

Can you elaborate more how I can create the hparams.yaml file so that I can load directly the ckpt files I generated out from the training?

[2022-08-16 01:22] prothej227 commented on #1540
The hyperparams.yaml I generated after the training looks like this:
`# Generated 2022-08-15 from:
# /home/k80-2/Desktop/LID Project/speechbrain/recipes/CommonLanguage/lang_id/hparams/train_ecapa_tdnn.yaml
# yamllint disable
# #################################
# Training ECAPA-TDNN embeddings for language identification (LID).
#
# Authors:
#  * Hwidong Na
#  * Mirco Ravanelli
#  * Pavlo Ruban
# ##

[2022-08-16 04:10] suhasiniselvam commented on #1531
In RNNLM.yaml file , check line 66
**Change** - model:!new:templates.speech_recognition.Lm.Custom_model.CustomModel .... as
                model:!new:Custom_model.CustomModel

I hope it can clear your error

[2022-08-16 04:11] suhasiniselvam commented on #1501
i tried but i couldnt clear the error..it still remains the same.

How can i handle this?

[2022-08-16 05:27] Hemanshu-Bhargav commented on #1531
@suhasiniselvam Thanks for your reply. I'm not sure if it will work for @maaly-zayed but I receive the same error regardless. Although, I'm not sure if it should matter, since providing a more complete path shouldn't be an issue?

[2022-08-16 08:38] olahsymbo100 opened #1542 "Finetune Text-to-Speech: Tacotron2 and HifiGAN"
Hi,

I have been able to set up speechbrain on my linux server. And I am currently training the Text-to-Speech Tacotron2 and HifiGAN. However, I would really like to use transfer learning instead of training from scratch. I’ve searched the entire documentation but cant find how to finetune either Tacotron2 or HifiGAN to smaller dataset. Please guide me on this/point me to existing implementation f

[2022-08-16 10:39] Asma-droid opened #1543 "TypeError: forward() takes 2 positional arguments but 3 were given"
Hello,

I followed the tutorial "Speech Recognition From Scratch" and i have built the full model. When i would like to make inference in an audio file i got the error "TypeError: forward() takes 2 positional arguments but 3 were given "

Below is my code for inference:

from speechbrain.pretrained import EncoderDecoderASR

asr_model = EncoderDecoderASR.from_hparams(source="/srv/nas_data/atrabelsi

[2022-08-16 10:47] Asma-droid opened #1544 "Impossible to make inference on long input signal"
Dear all,

After some made tests., I realised that it is imposstible till know to make inference on long input signal. Am I wrong ?

Best regards

[2022-08-16 13:23] mravanelli commented on #1544
You can use our VAD (see HuggingFace) to split long sentences into shorter
ones. Then you can use the ASR models on the detected chunks.

On Tue, Aug 16, 2022, 6:47 AM Asma-droid ***@***.***> wrote:

[2022-08-17 14:35] Rehan-Ahmad commented on #1410
Hi,
Just realized that reducing the value of `lr_wav2vec` make base model to work. I set the `lr_wav2vec=0.000001` and it started learning for switchboard dataset. The results of couple of epochs are as follows:

[code]

[2022-08-17 14:35] #1410 closed

[2022-08-17 18:48] TParcollet commented on #1410
Great! In practice, I think it would be better to even have a warmup phase: freeze the w2v2 for N steps, and then unfreeze it to fine-tune it.

[2022-08-18 07:21] matt1209 opened #1545 "RuntimeError when I use cuda (vad-crdnn-libriparty)"
My test script:

`import torchaudio
from speechbrain.pretrained import VAD

test_file = 'a.wav'
vad_final = 'bond_vad.wav'

######

VAD = VAD.from_hparams(run_opts={"device":"cuda"}, source="speechbrain/vad-crdnn-libriparty", savedir="pretrained_models/vad-crdnn-libriparty")

boundaries = VAD.get_speech_segments(test_file)

VAD.save_boundaries(boundaries, save_path='VAD_file.txt')

upsampled_bound

[2022-08-22 05:36] suhasiniselvam opened #1547 "Error in loading the audio file"
speechbrain.utils.epoch_loop - Going into epoch 1
  0% 0/1 [00:00<?, ?it/s]formats: can't open input file `./Speech Brain/converteddata/01/01-1_01.wav': No such file or directory
  0% 0/1 [00:00<?, ?it/s]
speechbrain.core - Exception:
Traceback (most recent call last):
  File "train.py", line 415, in <module>
    valid_loader_kwargs=hparams["valid_dataloader_opts"],
  File "/usr/local/lib/python3.

[2022-08-22 05:38] suhasiniselvam commented on #1355
Hi!

How did you corrected this error?

[2022-08-22 08:20] kfmn commented on #1532
Thank you very much, upgrading pytorch to 1.12.1 helps!

[2022-08-22 08:20] #1532 closed

[2022-08-22 09:04] hzfei opened #1548 "For simplicity, this PR is merged with a minimal implementation in #303"
For simplicity, this PR is merged with a minimal implementation in #303

_Originally posted by @hwidong-na in https://github.com/speechbrain/speechbrain/issues/288#issuecomment-695081709_

[2022-08-22 09:08] KacperKubara commented on #1514
Hi @TParcollet, do you know if there is any way to return the hypothesis without forking a Speechbrain repo and changing the source code?

[2022-08-22 10:34] TParcollet commented on #1514
Hi, I am unsure, as the expected behavior would be to really return the predictions in "predictions", maybe we did something wrong. If so, we would be glad to see someone opening a PR for that. HR ressources are currently drained by the next version ...

[2022-08-22 10:36] TParcollet commented on #1355
Hi, try not using a relative path ;) depending on where your script starts, it will fail.

[2022-08-23 15:23] BenoitWang commented on #1542
Hi @olahsymbo100 thank you for your interest. We don't have a TTS fine-tuning tuto. But if you want to fine-tune a TTS model, you can load the model and fine-tune it with the `pretrainer` [class](https://colab.research.google.com/drive/1LN7R3U3xneDgDRK2gC5MzGkLysCWxuC3#scrollTo=l7qb4lrtG8G-
).

And if you use an English fine-tuning dataset, you only need to prepare train/valid json files with the

[2022-08-24 07:04] suhasiniselvam opened #1549 "Channel Size"
If my channel size for the custom dataset is 2. Where should i modify the channel size in the code level?

[2022-08-24 07:20] KacperKubara commented on #1514
Ok no worries, I have created a fix on my fork so I can propose the PR, maybe even today.

[2022-08-24 08:13] KacperKubara commented on #1514
PR in https://github.com/speechbrain/speechbrain/pull/1550

[2022-08-24 10:06] olahsymbo100 commented on #1542
Hi @BenoitWang Thank you very much for your response. I have tried the pretrainer class as:

[code]
`Tacotron2Brain()` loads default TTS parameters from `sb.Brain` class.`

However, it keeps giving this error:

[code]

[2022-08-24 10:27] olahsymbo100 commented on #1542
Hi @BenoitWang Thank you very much for your response. I have been able to implement the pretrainer class using the link you shared and its able to load the pretrained model. However, I'm a bit confuse on how to proceed with finetuning (fit) the pretrained model to my dataset. I've checked the PreTrainer class it doesnt include any `fit` function and neither does it have a routine to pass the loade

[2022-08-24 15:33] BenoitWang commented on #1542
Hi @olahsymbo100, the `pretrainer` class does not have a fit method. Once the `pretrainer` loads the modules, you only need to launch the same training pipeline as in `train.py` with your own data. You can read the entire tuto in the same link.

[2022-08-24 16:13] olahsymbo100 commented on #1542
Hi @BenoitWang thank you for the clarification. I'm currently implementing it as:

[code]

I'm just wondering if ` checkpointer=hparams["checkpointer"]` will not make it override the loaded pretrained model.

[2022-08-25 02:27] aluminumbox opened #1551 "how to use torchrun instead of python -m torch.distributed.launch?"
Hi,

I am using Voxceleb recepie to train speaker embedding. I tried to use torchrun to replace python -m torch.distributed.launch, and changed my command from
`python -m torch.distributed.launch --nproc_per_node=4 train_cnceleb.py hparams/cnceleb.yaml --distributed_launch --distributed_backend=nccl`
to
`torchrun --nproc_per_node=4 train_cnceleb.py hparams/cnceleb.yaml --distributed_launch --distr

[2022-08-25 12:01] saharghannay opened #1552 "SLURP recipe : CHECK failed: (index) < (current_size_): Aborted (core dumped)"
Hi,
I runned an end-to-end SLU system on SLURP data using wav2vec:
python train_with_wav2vec.py hparams/train_with_wav2vec_new.yaml

However, I got this error after 20 epochs  during the evaluation:
c/../third_party/protobuf-lite/google/protobuf/repeated_field.h:1694] CHECK failed: (index) < (current_size_):
terminate called after throwing an instance of 'google::protobuf::FatalException'
  what()

[2022-08-26 09:02] frankiedrake commented on #1540
Actually the colab link is broken, it leads to a main Colab page (https://github.com/speechbrain/speechbrain/blob/develop/docs/tutorials.md), or... I'm not aware how to find the tutorials there...

[2022-08-26 17:15] BenoitWang commented on #1552
Hi @saharghannay, we never met this error before so I am not sure. However, I think you've done some modifications in your `train_with_wav2vec_new.yaml`, did it work with the origin `train_with_wav2vec.yaml` ? If so, I guess the problem comes from a modification on the decoder.

[2022-08-26 18:15] TParcollet commented on #1552
Wow, this looks like a weird error, like a CUDA error. It could also come from an Out of Memory issue, maybe try reducing the batch size a bit?

[2022-08-27 10:33] Neil-Shah opened #1553 "segmentation fault on using tensorboard for IEMOCAP recipe"
I am facing this weird issue of segmentation fault (core dumped) on using train_with_wav2vec2.py recipe of IEMOCAP. As soon as I load "speechbrain.utils.train_logger.TensorboardLogger" in the yaml file, it says segmentation fault. Though if I comment those lines, the code successfully runs

I checked this by loading python on terminal:

Segmentation error if I import speechbrain initially

Segment

[2022-08-28 04:11] WenbingWei opened #1554 "assert source.size() == estimate_source.size() TypeError: 'int' object is not callable"
This error occurred when I tried to test SISNR with def cal_si_snr(source, estimate_source):
`    avg_SISNR = cal_si_snr(src_ref1, src_est1)
  File "/home/**/evaluate.py", line 277, in cal_si_snr
    assert source.size() == estimate_source.size()
TypeError: 'int' object is not callable

Process finished with exit code 1`
why?Ask the boss to inform

[2022-08-28 13:13] saharghannay commented on #1552
Hi,
there is no difference between the train_with_wav2vec.yaml and train_with_wav2vec_new.yaml files.

@TParcollet,  it is a strange error, I re-runed the training and I got the error after the 24th epoch.

[2022-08-29 02:15] sharvil commented on #1493
@mravanelli, is there anything we can do to help get a release out with this version fix? We're having to go through all our deployment scripts and pin to PyTorch 1.11, which is fairly disruptive. I'd rather invest that time in getting this fix rolled out sooner, if possible.

[2022-08-29 02:40] mravanelli commented on #1493
Unfortunately, I cannot manage that at the moment but I hope someone from
the core team can move on and issue the minor version. Note that the dev
branch that you find on github is fine wuth torch 1.12.

On Sun, Aug 28, 2022, 10:16 PM Sharvil Nanavati ***@***.***>
wrote:

[2022-08-29 03:52] lzl1456 commented on #1541
you can use twice
sb.dataio.encoder.CategoricalEncoder()

[2022-08-29 07:19] TParcollet commented on #1552
Please add CUDA_LAUNCH_BLOCKING=1 to the script that crashes, it will give you the exact line that causes this error so we can debug it.

[2022-08-29 07:26] TParcollet commented on #1493
@Gastron  or @pplantinga, could you please emit a small release for that? I can't today. I guess the release will include other things though ...

[2022-08-29 08:33] lzl1456 commented on #1541
I don't know how you imported the tag, I imported it like this

_

    @sb.utils.data_pipeline.takes('age')
    @sb.utils.data_pipeline.provides('age', 'age_id_encoded')
    def label_pipeline(age):
        yield age
        age_id_encoded = label_encoder_age.encode_sequence_torch([age])
        yield age_id_encoded

    sb.dataio.dataset.add_dynamic_item(datasets, label_pipeline)

    @sb.utils.d

[2022-08-29 10:51] varsenyantitan opened #1556 "Symbolik link issue"
OS: Ubuntu 20 LTS
Python: 3.8.13
Speechbrain: 0.5.12
-----------------------------------------
Code:
[code]
-------------------------------------------
Error:
/anaconda/envs/trans/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as n

[2022-08-29 17:36] pplantinga commented on #1493
We have just released a small version: 0.5.13, hope this solves your issue!

[2022-08-30 04:44] sharvil commented on #1493
Thanks so much for getting the release out. I can confirm that it solves our deployment issue! :tada:

[2022-08-30 07:52] anautsch commented on #1300
Hi @fadlanhidayat sorry for responding late - going through the backlog.

We are taylking about this [RNNLM.yaml](https://github.com/speechbrain/speechbrain/blob/develop/recipes/LibriSpeech/LM/hparams/RNNLM.yaml) file, right?

And this line in particular:
https://github.com/speechbrain/speechbrain/blob/d78c00eca113c9f013f2eee4d05947adc1b32ccb/recipes/LibriSpeech/LM/hparams/RNNLM.yaml#L24

I ran on

[2022-08-30 07:52] #1300 closed

[2022-08-30 08:55] BenoitWang commented on #1553
Hi @Neil-Shah , this seems a known issue https://github.com/pytorch/pytorch/issues/30651, hope these links may help:
https://github.com/lanpa/tensorboardX/issues/178
https://stackoverflow.com/questions/16731115/how-to-debug-a-python-segmentation-fault?rq=1

[2022-08-30 09:25] anautsch commented on #1376
@muhammad-ahmed-ghani sorry for getting back late on this one.

Is the issue still on?

We improved some testing and subsequently improved code.
Does it work with the latest version?

[2022-08-30 10:39] Gastron commented on #1427
The items' keys are meant to be unique. You should not both take and provide the same key. It might be cleanest to just change the key of your DynamicItem "ref". If you absolutely need the output to be called "ref", you can use a mapping in the output, see:
https://github.com/speechbrain/speechbrain/blob/d9c37f4274a383107f972329a8cbe1b2d77a163a/speechbrain/dataio/dataset.py#L195-L210

So for examp

[2022-08-30 11:45] anautsch commented on #1528
Hi @ginaai sorry for the summer delays. It is good you have the git commit ID in the above example!

I digged a bit: https://github.com/speechbrain/speechbrain/search?q=c762107&type=commits
The version you are referring to is of Nov 17, 2021 - since then, v0.5.11; 0.5.12; 0.5.13 came out.
It would be best to start from the latest develop version and see what happens.
(This answer might not be that

[2022-08-30 11:53] anautsch commented on #1529
Hi @heunggyulee [pyannote](https://huggingface.co/pyannote) while also being on HuggingFace is not SpeechBrain. Please contact them directly.

Their github repo is right over here: https://github.com/pyannote/pyannote-audio

[2022-08-30 11:53] #1529 closed

[2022-08-30 12:11] anautsch commented on #1539
Hi @a-v-ebrahimi please provide a minimal example of what went wrong, so we are on the same page.

There's work on wav2vec2 at the moment. Which versions are you using of pytorch, torchaudio & SpeechBrain?
(Perhaps worth a try to update all packages to their latest versions; some pipelines changed recently.)

@TParcollet @ycemsubakan  the above error lines suggest issues with wav2vec2?
[code]

[2022-08-30 12:25] anautsch commented on #1543
Hi @Asma-droid this sounds like #1528 - but the interface shuoldn't have had changed.

Can you reproduce the example from data that is online available?
(e.g. via HuggingFace repos of SpeechBrain)

I ran this doctest locally which corresponds to your code snippet
https://github.com/speechbrain/speechbrain/blob/d78c00eca113c9f013f2eee4d05947adc1b32ccb/speechbrain/pretrained/interfaces.py#L499
[code

[2022-08-30 12:31] #1313 closed

[2022-08-30 12:38] ycemsubakan commented on #1377
Hi @poor1017 , sorry for my very late reply. Did you train with 16k, or 8k? The given results in the README are with 8k.

[2022-08-30 12:41] ycemsubakan commented on #1428
Hi, sorry for my very late reply.

Basically if you run the code with `python train.py hparams/sepformer.yaml --data_folder yourpath/wsj0-mix/2speakers --base_folder_dm yourpath/wsj0/si_tr_s --dynamic_mixing True` It will automatically create the resampled (if necessary) `wsj0` folder, and train your model with dynamic mixing. (You need to have the `wsj0` folder with .wav files)

[2022-08-30 12:42] anautsch commented on #1545
Hi @matt1209 is the error still happening on the latest version?

I deviated a bit from your snippet, also ran it on cpu, and it works - I used an `example.wav` file from SpeechBrain.
(Perhaps the issue doesn't appear with this audio file, which would be good to know - then our tests might need improvement.)

[code]

I had difficulties reading through the formatting of the tracelog - is it that th

[2022-08-30 12:48] Cagemoney commented on #1217
Hello,have you solved this problem? I also had this problem and it bothered me for a long time.

[2022-08-30 13:11] anautsch commented on #1548
Hi @hzfei the referenced PR was merged in 2020; as was the other one—please help us to understand what your concern is.

[2022-08-30 13:12] anautsch commented on #1549
Hi @suhasiniselvam hope this pointer helps:
https://speechbrain.readthedocs.io/en/latest/experiment.html#tensor-format

[2022-08-30 13:22] ycemsubakan commented on #1554
Hi @WenbingWei , it seems either source or the estimate source is not a torch tensor. I think you are trying to use this with numpy arrays? In numpy `.size` returns an integer, where as in torch `.size` is a function. Can you try with torch arrays? Please make sure you give the expected shape.

[2022-08-30 13:40] anautsch commented on #1556
Hi @varsenyantitan this might be a stupid question, but is are your jupyter and ipywidgets priviliged to have 'sylink rights' i.e. are you using this code within jupyter and is your jupyter allowed to create sylinks?

The only helpful thing I could find through online search is this one:
https://stackoverflow.com/questions/46097302/jupyter-does-not-show-symlink-folder

While it is good, you provid

[2022-08-30 13:44] varsenyantitan commented on #1556
Hi @anautsch. I have resolved this issue. It is not a permission issue but rather a drive issue. I am working in AzureML so each instance has an Azure File Share mounted. Apparently, creating a symlink from mounted cloud storage is not a supported operation. I have switched to the local storage of an instance (which is smaller) to be able to create a symlink.
Thank you for your replay.

[2022-08-30 14:26] ddwkim commented on #1528
Hi,

Thank you for paying attention to our contribution.
Please checkout to the git commit mentioned in the tutorial.
[code]
The current KsponSpeech recipe was trained based on a previous version of Speechbrain.
In order to run the sample, you need to use the corresponding version.
We are currently working to update the current recipe in order to be compatible with the latest version.
We will keep

[2022-08-31 05:24] #1553 closed

[2022-08-31 08:17] underdogliu commented on #1533
Hi, our statistics are fetched from the cleaned VoxCeleb1-O set, which is available in:
[https://www.robots.ox.ac.uk/~vgg/data/voxceleb/meta/veri_test2.txt](https://www.robots.ox.ac.uk/~vgg/data/voxceleb/meta/veri_test2.txt)

Therefore the hparams our results is "correct". The veri_test.txt is un-cleaned files from voxceleb1. It has some noticeable annotation errors.

I am now working on updating

[2022-08-31 09:51] #1556 closed

[2022-08-31 10:14] anautsch commented on #1477
Hi @Juliaququ does the error still occur?

I ran the demo code of https://huggingface.co/speechbrain/sepformer-wsj02mix
It works on my end.

The error message `OSError: libtorch_hip.so: cannot open shared object file: No such file or directory`
suggests a problem with the installation. There are similar issues on the pytorch github page; please take a look. I saw suggestions that pytorch and torch

[2022-09-03 03:54] keelezibel opened #1561 "Pretrainer can't decode during load_collected()"
Hi, I am trying to use the Pretrainer class to finetune the ecapa-tdnn model but encountered this issue when loading the pretrained model. Thanks!

[code]

Below is my YAML file.
[code]

Along with snippet of my train.py
[code]

[2022-09-03 07:09] grazder commented on #1427
Yeah thanks, it wasn't clean until i started to dig deeper. So I think warnings or errors are super necessary here

[2022-09-04 21:45] msj121 commented on #1359
Perfect thanks!

[2022-09-04 21:45] #1359 closed

[2022-09-04 21:46] msj121 commented on #1497
Thanks 16kHz single channel in case anyone is interested.

[2022-09-04 21:46] #1497 closed

[2022-09-05 10:30] keelezibel commented on #1561
Nvm, got it to work without Pretrainer class and just directly loading the pretrained modules and setting the individual trainable module.

Going to close this issue unless someone can help with Pretrainer then just reopen the issue. Thanks!

[2022-09-05 10:30] #1561 closed

[2022-09-05 15:45] Adel-Moumen commented on #774
Hello,

I close this issue because It seems that the problem has been fixed in [https://github.com/speechbrain/speechbrain/pull/1295](url) ! 🙂

[2022-09-05 15:45] #774 closed

[2022-09-05 17:28] lindagaw opened #1562 "speechbrain foreign_class AttributeError"
Hello,

I'm trying to run the following code:

`from speechbrain.pretrained.interfaces import foreign_class`

` classifier = foreign_class(source="speechbrain/emotion-recognition-wav2vec2-IEMOCAP",
                pymodule_file="custom_interface.py",
                classname="CustomEncoderWav2vec2Classifier")
`

And I get the following error:
`AttributeError:
'str' object has no attribute 'keys'

[2022-09-05 19:42] yafimski opened #1563 "is SpeechBrain compatible with .Net Framwork and C#?"
If so, are there tutorials or examples of any kind?
Thanks

[2022-09-06 10:10] Adel-Moumen commented on #924
Hello,

I'm closing this issue. No activities for a long time and It seems that the problem has been solved.

Feel free to reopen if needed 🤗

[2022-09-06 10:10] #924 closed

[2022-09-06 11:59] Adel-Moumen commented on #1562
Hello,

Thanks for pointing out this potential issue.

I tried to reproduce your example, and unfortunately, I was not able to reproduce the problem that you are facing.

Could you please share more details about your current python environment (e.g pip list)? Which OS are you using? On your other computer, do you have the same speechbrain version with the same python environment? 🙂

[2022-09-06 12:06] lindagaw commented on #1562
Hello,

Thank you so much for the quick response! I'm using Windows 11. On the other computer, it is Windows 10. The speechbrain versions are the same - they are all the newest.

Here's the result of pip list:
Package                       Version
----------------------------- --------------------
absl-py                       1.2.0
aiohttp                       3.8.1
aiosignal

[2022-09-06 12:23] Adel-Moumen commented on #1562
Are you using WSL on windows?

[2022-09-06 12:59] Adel-Moumen commented on #1562
I finished the installation on windows 10, and everything is working as expected (i.e, no python errors).

I can't conclude that the problem is windows 11 because I don't have any computer running this OS to try out. I can suggest you two things:
1. Try to create a new conda env (don't use the previous one) and follow the speechbrain installation (I guess you only tried to remove and re-install sp

[2022-09-06 13:24] lindagaw commented on #1562
Hi Adel-Moumen,

Thank you so much for your quick response! I tried both creating a new conda environment and using WSL on windows and it doesn't seem to work. In addition I have access to a 3rd computer that is Windows 10 and it gives me this error as well.

I reinstalled Anaconda and directly went to install speechbrain without installing any other packages. It was installed correctly but I stil

[2022-09-06 13:26] Adel-Moumen commented on #948
Hi,

Got the same error and solved it by doing `pip install soundfile` as mentioned previously.

I'm closing this issue as the problem seem's to be solved. Please feel free to reopen if needed. :)

[2022-09-06 13:26] #948 closed

[2022-09-06 13:32] Adel-Moumen commented on #1562
Hmmm, are you using an NVIDIA GPU? I tried successfully on windows 10 with a ryzen 7 & an RTX 3080 ti.

Could you please give the exact error stack?

[2022-09-06 13:42] Adel-Moumen commented on #1534
Hello, I am too also unable to reproduce the error.

Could you please tell me if the segmentation fault is still happening?

[2022-09-06 14:12] Adel-Moumen commented on #939
Hello,

I ran the pytest tests and I got a similar error: `FAILED tests/unittests/test_features.py::test_filterbank[cpu] - assert tensor(0.0001) < 8e-05`.

[2022-09-06 14:20] Adel-Moumen commented on #1024
Hello,

any updates on this issue? is the issue still up?

[2022-09-06 14:21] lindagaw commented on #1562
Thank you so much! I'm not using an NVIDIA GPU ... Here's the error stack:

(base) E:\commercial_package>python emotion_detection.py
The torchaudio backend is switched to 'soundfile'. Note that 'sox_io' is not supported on Windows.
The torchaudio backend is switched to 'soundfile'. Note that 'sox_io' is not supported on Windows.
Traceback (most recent call last):
  File "E:\commercial_package\emot

[2022-09-06 14:40] Adel-Moumen commented on #1562
Ok. We will need to do a little bit of remote debugging.

Could you please install locally speechbrain and modify the file `interfaces.py` located in `speechbrain.pretrained` and add some `print` around line 95:
[code]

(don't forget to then run `python setup.py install; pip install -e .` after some modifications)

It will help us to understand a little bit more about what is currently happening.

[2022-09-06 15:02] Adel-Moumen commented on #807
Hello,

is the issue still up?

[2022-09-06 15:19] Adel-Moumen commented on #1563
Hello,

Never heard about someone using SpeechBrain with .net/c#. (but better ask @TParcollet)

In my experience, I already successfully used SpeechBrain via Java by calling some python (in Java) files and waiting for a response from them e.g a boolean. I am sure that you can do the same with your frameworks.

Maybe you could elaborate a little bit more on "compatible"? :smiley:

[2022-09-06 15:21] yafimski commented on #1563
Tnx for the reply.
Just wondering about tutorials/examples that would make it easy enough for novice-level programmer to use mic-to-text capabilities.
But I see it's very hard to start using so for now I'll probably opt for a paid API that might be easier to implement.

[2022-09-06 15:29] Adel-Moumen commented on #1563
Hmm, to be honest, I don't think it's that hard.

I mean, if in .net/c# you can execute python files and wait for their output then you can do your mic-to-text feature.

For instance: In your framework, if you execute a python file, it will (or at least in Java will) return the output of the script. So, if in your python script you did print the output of the model (your mic-to-text), then you wil

[2022-09-06 15:33] yafimski commented on #1563
True, I might try to crack it at some point, but I want for now to skip the hard work and just do an end-to-end POC and not get stuck on the first steps for too long.
Obviously for some projects OpenSource will be better, but I guess I'll have to come to that realization a bit later on if it becomes too expensive 💯

Thank you for the reply and the support! :)

[2022-09-06 15:40] Adel-Moumen commented on #1551
Hello,

Thanks for asking.

First, I was wondering why are you using `torchrun` instead of `python -m torch.distributed.launch ...` ? Are there any reasons for that? (e.g, performances?)

For the moment, SpeechBrain is only supporting `torch.distributed.launch` (see: https://speechbrain.readthedocs.io/en/latest/multigpu.html). There are no plans yet to change to `torchrun` (as far as I know). :smi

[2022-09-06 15:48] Adel-Moumen commented on #1549
Hello,

Is the problem still up @suhasiniselvam ?

[2022-09-06 17:40] lindagaw commented on #1562
Hi Adel-Moumen,

Here's the result after I changed interfaces.py:

(base) C:\Users\gaoye\Documents\commercial_package>python emotion_detection.py
The torchaudio backend is switched to 'soundfile'. Note that 'sox_io' is not supported on Windows.
The torchaudio backend is switched to 'soundfile'. Note that 'sox_io' is not supported on Windows.
hparams_local_path = pretrained_models\CustomEncoderWav2

[2022-09-06 17:52] lindagaw commented on #1562
Hello Adel-Moumen,

I got the module running by deleting the wav2vec2_checkpoints and pretrained_models folders.

Thank you for your help and I'm so sorry for all the trouble!

Best,
lindagaw

[2022-09-06 18:13] Adel-Moumen commented on #1562
Hello @lindagaw,

It's good news that you successfully solved the issue!

No worries :)

[2022-09-07 11:38] Adel-Moumen commented on #1336
Hello,

is the issue still up?

[2022-09-07 11:48] Adel-Moumen commented on #1190
Hello @stefan-falk,

DP = Data Parallelism ; DDP = Distributed Data Parallelism.

You can read further on that topic directly here: https://pytorch.org/tutorials/intermediate/ddp_tutorial.html and https://pytorch.org/docs/stable/generated/torch.nn.DataParallel.html

I'm closing this issue as it seems to be solved.

Please feel free to reopen if you have further questions. 😃

[2022-09-07 11:48] #1190 closed

[2022-09-07 12:21] Adel-Moumen commented on #1522
Hello,

It seems that #1526 fixed the problem.

Feel free to reopen if the issue still appears!

[2022-09-07 12:21] #1522 closed

[2022-09-07 12:22] Adel-Moumen commented on #1346
Hello @jiaweiru,

Are you still facing this problem?

[2022-09-07 12:27] Adel-Moumen commented on #1343
Hello @CaeTism,

is the issue still up?

[2022-09-07 13:02] Adel-Moumen commented on #1022
Hello @lehommee,

Is any news about this issue? Is it still up?

[2022-09-07 13:07] Adel-Moumen commented on #1366
Hello @SitalLiang,

Is your question solved?

[2022-09-07 19:19] Adel-Moumen commented on #1451
Hello,

Could you please open a PR with your modification?

Many thanks :)

[2022-09-07 19:19] #1451 closed

[2022-09-07 19:20] Adel-Moumen commented on #1515
Hello @kokamido,

any news on this issue? did you tried installing `clearml==1.6.3rc1` ?

[2022-09-08 17:38] gelimcgill opened #1568 "couldn't find speechbrain.tokenizers.SentencePiece"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'speechbrain.tokenizers' has no attribute 'SentencePiece'

[2022-09-08 19:49] Adel-Moumen commented on #1568
Hello,

Could you please provide a minimal example that reproduces the error that you are facing? Thanks!

[2022-09-08 20:06] Adel-Moumen commented on #1301
Hello,

I will close this issue as It seems that @mattnappo answered your question. Feel free to reopen if needed. Thanks!

[2022-09-08 20:06] #1301 closed

[2022-09-08 20:06] Adel-Moumen commented on #1316
Hello @yuxinxu77,

Is there any news about this issue? Thanks!

[2022-09-09 14:58] bofenghuang opened #1569 "Question about LayerNorm in Wav2vec"
Hi @TParcollet ,

I have a question about the layer normalization used in wav2vec for both HF and Fairseq implementations. Why using it on all `(batch_size, sequence_length, hidden_size)` dimensions of the wav2vec `last_hidden_state` output instead of just on the `hidden_size` dimension, as showed in the examples of pytorch doc [here](https://pytorch.org/docs/stable/generated/torch.nn.LayerNorm.ht

[2022-09-10 09:36] TParcollet commented on #1569
Hi !

I think you are right, I did a mistake like this once if I remember correctly. Do you already know if this has an impact? I don't feel like retraining a model with the change as it is extremely expensive. Could you also provide the correct implementation example ? (With a PR it would be awesome!!!)

Thanks again !

[2022-09-10 09:55] bofenghuang commented on #1569
Hi,

Thanks for your response. I didn't test it yet. Let me first run an ASR recipe on it before making the PR :)

[2022-09-10 14:53] Adel-Moumen commented on #1357
Hello @fadlanhidayat,

Are you still facing this issue on your other computer?

[2022-09-12 09:07] bofenghuang commented on #1569
Hello again,

I came back with several results on LibriSpeech with this [ctc recipe](https://github.com/speechbrain/speechbrain/blob/424e7921531b0ea6523557ef0fd6ca249936bd26/recipes/LibriSpeech/ASR/CTC/hparams/train_with_wav2vec.yaml). The new `layer_norm` of wav2vec output has been done only on the last `hidden_size` dimension.

I also found that the normalization of wav is done across the wavs i

[2022-09-12 09:11] TParcollet commented on #1569
Hehehe no idea! The thing being that currently, the batch size impacts decoding (this will change with the next major release). But I think that we should remain closer to the original implementation ...

[2022-09-12 09:18] bofenghuang commented on #1569
Should we make a PR about new layer normalization and wav normalization? The model trained with these changes got 1.87% WER, slightly better than the model in [README](https://github.com/speechbrain/speechbrain/blob/424e7921531b0ea6523557ef0fd6ca249936bd26/recipes/LibriSpeech/ASR/CTC/README.md), using only one epoch.

Looking forward to the new release :)

[2022-09-12 09:24] TParcollet commented on #1569
Yes please !

[2022-09-12 09:25] TParcollet commented on #1569
(we could use the ckpt of the model as well to update HF and GDRIVE).

[2022-09-13 07:01] anautsch commented on #1503
Closing this issue, as there is #1505 - please feel free to re-open when necessary :)

[2022-09-13 07:01] #1503 closed

[2022-09-13 07:08] anautsch commented on #1516
Looks like this is solved; closing this one—please feel free to reopen :)

[2022-09-13 07:08] #1516 closed

[2022-09-13 07:46] anautsch commented on #1521
Hi @GAN-pie are there any updates towars a PR ?

[2022-09-13 07:48] anautsch commented on #1501
Hi @suhasiniselvam is the error still occuring?
Do you have a small code snippet through which we could reproduce it on our side?

[2022-09-13 07:57] anautsch commented on #1531
Hi @maaly-zayed is the error still occuring?
Yesterday, the templates worked for me without problems. Are you starting them from within the `templates/speech_recognition/LM` folder? In that folder is a
https://github.com/speechbrain/speechbrain/blob/53455cab284f6665c3703b1d5e6c8e9509969dcd/templates/speech_recognition/LM/custom_model.py#L20

which is (usually) only available to the python path if

[2022-09-13 08:26] anautsch commented on #1540
Links to tutorials are here:
https://speechbrain.github.io/

Check out the pop-down menu on the top-right corner.

The above link to `docs/tutorials.md` states that we use colab and the landing URL is colab (looks fine).

Here's a tutorial on checkpointing:
https://colab.research.google.com/drive/1VH7U0oP3CZsUNtChJT2ewbV_q1QX8xre?usp=sharing

@prothej227 does the tutorial help you?

[2022-09-13 09:12] anautsch commented on #1541
@kirillkoncha  @lzl1456

Have two thoughts here that I'd like to share:
* naive classifiers are not made for this; they rely on the total probability theorem and by splitting up a world model of exhaustive and mutually classes into their boxes; then, each box is assigned with a probability—the job of the naive classifier. Here, you ask for two probabilities to one box. The game changes a bit (i.e.

[2022-09-13 09:29] anautsch commented on #1427
@grazder noted your poke on warnings & errors -> agreeing there.
_Hope we can get to work more on comfort-tools after the next 2+ major changes (or earlier)._

Closing this issue as it seems "solved". Please feel free to reopen :)

If you like to contribute a PR on adequate warnings based on this issues, please go for it (we can continue discussing there).

[2022-09-13 09:29] #1427 closed

[2022-09-13 09:52] GeorgePavlidis commented on #1534
I have almost identical problem, I'm trying to run a docker container with speechbrain and code that imports speechbrain.  While when the container runs on my local pc everything works fine, but on a server it crashes with exit code 139 due to Segmentation fault (core dumped) whenever it is trying to import speechbrain

[2022-09-13 12:56] #1541 closed

[2022-09-13 16:16] anautsch commented on #1531
Could reproduce the error when copying the `LM` folder somewhere else on my system and re-running it.

The yaml file overspecifies the path for the custom model:
https://github.com/speechbrain/speechbrain/blob/85c6a0dd807d8ab16be6a7a424cc791662d107e7/templates/speech_recognition/LM/RNNLM.yaml#L67

Here's the diff patch to get it working:
[code]

[2022-09-13 19:57] Adel-Moumen commented on #1534
Hello,

Could you please open a new issue on that with more details? :)

Thanks!

[2022-09-13 19:57] Adel-Moumen commented on #1534
OK! Thanks. I'm closing this issue. Feel free to re-open it if needed :)

[2022-09-13 19:57] #1534 closed

[2022-09-14 03:30] suhasiniselvam commented on #1501
(embedding): Embedding( (Embedding): Embedding(1000, 256) ) (dropout):
Dropout(p=0.0, inplace=False) (rnn): LSTM( (rnn): LSTM(256, 2048,
num_layers=2, batch_first=True) ) (dnn): Sequential( (linear): Linear( (w):
Linear(in_features=2048, out_features=512, bias=True) ) (norm):
LayerNorm( (norm):
LayerNorm((512,), eps=1e-05, elementwise_affine=True) )
...
outputs, hs, c, w = self.forward_step( File

[2022-09-14 10:08] anautsch commented on #1501
@suhasiniselvam thank you for the latest error log.

About the small code snippet for error reproduction:
* Are you running on the latest develop branch?
* What is the input data to which function causing this behaviour?
  * random data is fine
  * having an audio example loaded would be good as well

Are you trying to run sth like this?
https://github.com/speechbrain/speechbrain/blob/7bbb8daa07ca

[2022-09-15 04:28] suhasiniselvam commented on #1501
Goodmorning,

I have three modules like building tokenizer, Language Model and ASR.
Here I am using my own custom dataset(Tamil). The tokenizer module is
executed and the unigram model is built, i have attached the files with
this email for your reference.
Next, the LM module is executed with an embedding size of 256 and output
neurons as 1000. The model is also built and I have attached the files

[2022-09-15 07:04] anautsch commented on #1501
Good morning @suhasiniselvam,

ok - so this is about the ASR.

On github's web interface email attachments are not available, and might have been dropped.
I am not able to request access to your gdrive data (I get an error messsage that sending the request is not possible).

In addition to the model data, how did you use it?
It might be that your model is ok but that there is an issue with the way

[2022-09-15 07:50] suhasiniselvam commented on #1501
Hi ,
Its does not differ,  the audios are loaded as same.
Thanks & Regards,
Suhasini S,
Research Scholar,
Department of Computer Science and Engineering,
SSN College of Engineering,
Kalavakkam.

On Thu, Sep 15, 2022 at 12:34 PM Andreas Nautsch ***@***.***>
wrote:

--
::DISCLAIMER::

---------------------------------------------------------------------
The
contents of this e-mail and any attachment

[2022-09-15 08:26] suhasiniselvam commented on #1501
*** This is the yaml file of my language model***

seed: 2602
__set_seed: !apply:torch.manual_seed [!ref <seed>]
data_folder: LM/data
output_folder: !ref LM/results/RNNLM/
save_folder: !ref <output_folder>/save
train_log: !ref <output_folder>/train_log.txt
lm_train_data: !ref <data_folder>/train.txt
lm_valid_data: !ref <data_folder>/valid.txt
lm_test_data: !ref <data_folder>/test.txt
train_logger:

[2022-09-15 10:42] anautsch commented on #1501
@suhasiniselvam thanks! Ok; first things first: we are not here to debug others' matters.

We are hitting a thin line here.

I compared your yamls to the template ones; they are almost identical. Let me comment on the differences.

---
LM

yours: `data_folder: LM/data`
template: `data_folder: ../data`

As you diverge from the template, the responsibility of keeping track of paths being correctly u

[2022-09-15 19:25] popcornell commented on #1517
Hi, your tag did not work so I ve missed this issue sorry, thanks to @anautsch that pinged me.
Does it happens only with Dynamic Mixing ? Or also with the plain recipe ?

[2022-09-15 20:09] ycemsubakan commented on #1517
Also, @poor1017 , do you see the same behavior with WSJ0Mix recipe also?

[2022-09-16 08:37] Adel-Moumen commented on #1277
Hello,

The issue has been solved with #1564, I'm closing this issue as a consequence.

[2022-09-16 08:37] #1277 closed

[2022-09-16 14:37] anautsch commented on #1469
Closing this issue as the PR fixing this has been merged.
Please feel free to re-open.

[2022-09-16 14:37] #1469 closed

[2022-09-16 18:53] nauman-daw commented on #1499
Sorry for the late reply.  Thanks, @anautsch, for letting me know.

The audio path looks fine to me. Can you please paste a few lines of your generated json file here?

In general, when you extract the files downloaded from the AMI webpage, it, by default creates a directory structure `amicorpus/EN2001a/audio/EN2001a.Array1-01.wav` . You just need to provide the root directory path, i.e., path to

[2022-09-16 18:56] #1149 closed

[2022-09-23 08:37] aluminumbox commented on #1551
Ehh No particular reason. I just notice that pytorch recommend using torchrun and some other projects are using torchrun, so I want to try if it is faster.
https://github.com/pytorch/pytorch/blob/master/torch/distributed/run.py#L10
Its okay that we use torch.distributed.launch.

[2022-09-23 08:37] #1551 closed

[2022-09-23 09:16] Adel-Moumen commented on #1568
Hello, any news please?

[2022-09-23 09:40] VitoPepe commented on #1467
@TParcollet @Moumeneb1 Hello, I'm trying to implement pyctcdecode too but I have an issue with the logits and vocab size even if I'm implementing pyctcdecode the same way as you : ValueError: Input logits shape is (179, 1000), but vocabulary is size 1001. Need logits of shape: (time, vocabulary)

Have you ever met that issue?

[2022-09-25 07:54] shrestha-pranita opened #1579 "ONNX model"
Is therr onnx model for VAD and speaker diarixarion?

[2022-09-25 13:07] berniewang8177 opened #1580 "Multi GPU training cause padding issue on Libri speech"
Hi, this is what I'm doing with speechbrain

/speechbrain/recipes/LibriSpeech/ASR/transformer$ CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7 python train.py ./hparams/transformer.yaml --data_parallel_backend

and this is what I got
speechbrain.utils.parameter_transfer - Loading pretrained files for: lm, tokenizer
speechbrain.core - Info: max_grad_norm arg from hparam file is used
speechbrain.core - Info: c

[2022-09-25 13:28] Adel-Moumen commented on #1580
Hello,

Could you try DDP instead (see:https://speechbrain.readthedocs.io/en/latest/multigpu.html) please?

Also, could you share your YAML file, please?

Many thanks!

[2022-09-25 13:51] berniewang8177 commented on #1580
Hi,
Thank you for your suggestion. The command below works for me now!

python -m torch.distributed.launch --nproc_per_node=8 --nnodes=1 --node_rank=0  train.py ./hparams/transformer.yaml --distributed_launch --distributed_backend='nccl'

[2022-09-25 13:54] Moumeneb1 commented on #1467
Hi @VitoPepe you please share your **labels** list ? Did you correctly change the **unk** Token to **pad** ? maybe it's that ?

[2022-09-25 14:00] Adel-Moumen commented on #1580
Nice :)

I will close this issue as it seems that now everything is working. Feel free to reopen it if needed. 🙂

[2022-09-25 14:00] #1580 closed

[2022-09-25 22:04] gozdii opened #1581 "Missing bos and eos id's in tokenizer hparams file"
Hi
In speechbrain/recipes/LibriSpeech/Tokenizer/hparams/1K_unigram_subword_bpe.yaml bos and eos tokens are not specified as 1 and 2 and it results in incorrect tokenization later

[2022-09-26 05:51] kexinzhengn opened #1582 "Batch size and testing WER"
Hi,

I have trained a model using the pretrained CDRNN on LibriSpeech. When I was testing the model with same dataset but different batch size, the WER of batch size 2 is much larger than that of batch size 1. I want to ask why is the batch size setting also affecting the evaluation? There is no training involved for testing so I am a bit confused.

Thanks in advance!

[2022-09-26 08:45] #1563 closed

[2022-09-26 08:48] Adel-Moumen commented on #1544
Hello,

There has been no activity on this issue for a very long time.

Therefore, I am closing this issue. Feel free to reopen it if needed! 😁

[2022-09-26 08:48] #1544 closed

[2022-09-26 11:09] eviltypha opened #1583 "Add new speakers and resume training from checkpoint in speaker_id"
Hi,

I've used your speaker_id module to train a model on a custom dataset. Initially the `n_classes` parameter has been set to 4 in `train.yaml`. Now I would like to increase this parameter and add new speakers and resume training from the saved checkpoint. I've tried doing this but encountered the following error:
[code]

I've tried to increase the `n_classes` parameter to 7 and made the additio

[2022-09-26 11:31] anautsch commented on #1583
Hi @eviltypha the mismatching dimensions correspond to the `n_classes` as you well mentioned. The hparams are instantiated at the loading of the YAML file. You could either try to manipulate the loading function (will take time), or load the old model with the old yaml, exchange the layers that relate to `n_classes` (ideally the final layer only), and save it to a new path - that one should be loa

[2022-09-26 11:41] anautsch commented on #1582
Hi @kexinzhengn without trying to reproduce it - you might want to take a looks at `undo_padding` (here as it is used in another branch than `develop`):
https://github.com/speechbrain/speechbrain/blob/80816c76c65f0c4656c54712428cf217ebb89d76/recipes/LibriSpeech/ASR/seq2seq/train.py#L99

The function is available on `develop` too - please check it out if this function helps your case:
https://githu

[2022-09-26 12:38] VitoPepe commented on #1467
@Moumeneb1 Oh thanks a lot, that was my problem !

[2022-09-26 14:27] anautsch commented on #1579
While speechbrain has models for these tasks, fbanks and stft are (as today) not exportable in pytorch.
There might be batch-independent computations in a future release (to separate from the model, e.g. fbanks & stft computations).

[2022-09-26 15:51] Moumeneb1 commented on #1467
Great that it worked ! You're welcome ✌️

[2022-09-26 18:11] Adel-Moumen commented on #807
Hello,

There is no activity for a very long time. I am closing this issue. Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:11] #807 closed

[2022-09-26 18:13] Adel-Moumen commented on #1549
Hello,

There is no activity for a very long time. I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:13] #1549 closed

[2022-09-26 18:14] Adel-Moumen commented on #1024
Hello,

There has been no activity for a very long time. Therefore, I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:14] #1024 closed

[2022-09-26 18:16] Adel-Moumen commented on #1547
Hello,

any news on this PR, please?

[2022-09-26 18:16] Adel-Moumen commented on #1545
Hello,

any news on this PR, please?

[2022-09-26 18:17] Adel-Moumen commented on #1336
Hello,

There has been no activity for a very long time. Therefore, I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:17] #1336 closed

[2022-09-26 18:17] Adel-Moumen commented on #1346
Hello,

There has been no activity for a very long time. Therefore, I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:17] #1346 closed

[2022-09-26 18:17] Adel-Moumen commented on #1343
Hello,

There has been no activity for a very long time. Therefore, I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:17] #1343 closed

[2022-09-26 18:18] Adel-Moumen commented on #1022
Hello,

There has been no activity for a very long time. Therefore, I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:18] #1022 closed

[2022-09-26 18:18] Adel-Moumen commented on #1366
Hello,

There has been no activity for a very long time. Therefore, I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:18] #1366 closed

[2022-09-26 18:19] Adel-Moumen commented on #1515
Hello,

There has been no activity for a very long time. Therefore, I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:19] #1515 closed

[2022-09-26 18:19] Adel-Moumen commented on #1548
Hello,

any news about this issue, please?

[2022-09-26 18:20] Adel-Moumen commented on #1524
Hello,

There has been no activity for a very long time. Therefore, I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:20] Adel-Moumen commented on #1316
Hello,

There has been no activity for a very long time. Therefore, I am closing this issue.

Feel free to reopen if needed. Thanks! :)

[2022-09-26 18:20] #1316 closed

[2022-09-26 20:48] TParcollet commented on #1569
1. It can be done in the dataloader. But I already noted that we should add our padded-compatible layernorm on these recipes. Honestly, I wouldn't expect this to impact to much the results ... It's adding regularization.

[2022-09-26 20:48] #1569 closed

[2022-09-26 20:50] TParcollet commented on #1579
I concur with @anautsch ... Any model relying on torch stft can not be exported in onnx right now. This is a PyTorch issue, and they are aware of it. I guess it should be fixed soon, @mravanelli any more info on that topic?

[2022-09-26 20:51] #1540 closed

[2022-09-26 20:57] Adel-Moumen commented on #1581
Hello,

Could you provide a reproducible example, please?

[2022-09-26 21:05] Adel-Moumen commented on #1539
Hello @a-v-ebrahimi,

Is the issue still up? Thanks.

[2022-09-26 21:16] Adel-Moumen commented on #1415
Hello,

It seems that everything is settled now. Therefore, I am closing this issue. Feel free to reopen if needed! Thanks.

[2022-09-26 21:16] #1415 closed

[2022-09-26 21:18] Adel-Moumen commented on #1397
Hello,

is the issue still up? Many thanks!

[2022-09-26 21:25] Adel-Moumen commented on #1393
Hello,

It seems that the issue has been settled. Therefore, I am closing this issue. Feel free to reopen if needed.

Many thanks!

[2022-09-26 21:25] #1393 closed

[2022-09-26 21:26] Adel-Moumen commented on #1462
Hello,

Any news on this issue, please? Thanks!

[2022-09-26 21:26] Adel-Moumen commented on #1447
Hello,

Any news on this issue, please? Thanks!

[2022-09-26 21:27] Adel-Moumen commented on #1401
Hello,

any news on this issue, please? Many thanks.

[2022-09-26 21:29] Adel-Moumen commented on #1446
Hello,

any news on this issue, please? Many thanks :)

[2022-09-27 04:02] suhasiniselvam commented on #1547
It's working.
Thanks & Regards,
Suhasini S,
Research Scholar,
Department of Computer Science and Engineering,
SSN College of Engineering,
Kalavakkam.

On Mon, Sep 26, 2022 at 11:46 PM Adel Moumen ***@***.***>
wrote:

--
::DISCLAIMER::

---------------------------------------------------------------------
The
contents of this e-mail and any attachment(s) are confidential and
intended
for the named

[2022-09-27 04:04] suhasiniselvam commented on #1501
Thank you  @anautsch i have cleared the problem it is working now.

[2022-09-27 04:04] #1501 closed

[2022-09-27 07:30] anautsch commented on #1583
Hi @eviltypha yes, you can use `torch.load` - SpeechBrain provides wrappers through the yaml files.

It could be simple: use the old yaml file, and then, after loading, manipulate the layers outlined  by `n_classes`.
Yet, I'm araid that the mindset behind most deep learning technology is: the model is exhaustively defining/outlining the world it models. In that regard, any change in the number of

[2022-09-27 07:51] #1547 closed

[2022-09-27 08:10] Adel-Moumen commented on #1494
Hello,

It seems that @TParcollet has answered your question. Therefore, I am closing this issue. Please feel free to reopen it if necessary. Thank you very much 😃

[2022-09-27 08:10] #1494 closed

[2022-09-27 08:18] Adel-Moumen commented on #1483
Hello,

is it still up? if so, could you please provide a fully reproducible code? Many thanks 😃

[2022-09-27 08:33] Adel-Moumen commented on #1477
Hello,

any news about this issue, please? It also works on my end.

[2022-09-27 08:35] Adel-Moumen commented on #1474
Hello @nathphoenix,

have you successfully solved the problem using Ubuntu?

[2022-09-27 08:36] Adel-Moumen commented on #1470
Hello,

any news on this issue, please? 😃

[2022-09-27 08:42] Adel-Moumen commented on #1467
Hello,

It seems that the question has been solved. Therefore, I am closing this issue. Please, feel free to reopen it if necessary! Thank you very much. 😃

[2022-09-27 08:42] #1467 closed

[2022-09-27 08:45] Adel-Moumen commented on #1380
Hello,

any news about this issue, please? Thanks! 😃

[2022-09-27 08:49] TParcollet commented on #1581
I think that this is an error. However, it will not affect the results that much ... at least on LibriSpeech ... @gozdii could you please do a PR to change this, especially if you have trained the model afterward? We will need to update the Gdrive and the readme :-)

[2022-09-27 10:12] starcell opened #1585 "KsponSpeech recipe sample Colab notebook does not work."
I am trying to run this Collab notebook for using the pre-training model, but I get a size mismatch error.
(https://colab.research.google.com/drive/10N98aGoeLGfh6Hu6xOCH5BbjVTVYgCyB?usp=sharing#scrollTo=ND6pglfXnnER)

In original code, it installs speechbrain version 0.5.10. with below command.
!pip install git+https://github.com/speechbrain/speechbrain.git@c762107
But this version can not downloa

[2022-09-27 10:31] poor1017 commented on #1517
@popcornell Only with Dynamic Mixing, because with DM, you use torch.utils.data.DataLoader to cover sb.dataio.dataset.DynamicItemDataset
@ycemsubakan I have not tried WSJ0Mix.

[2022-09-27 10:46] anautsch commented on #1585
Hi @starcell it's reproducible (and I don't know how to handle this propely).

I get the same error logs in another task I am working on. Let me reformat it in a way that helps our discussion
[code]

The module list is quitte clear:
https://github.com/speechbrain/speechbrain/blob/aef146861cc89482102f7ce63cda1e8d3366a229/recipes/KsponSpeech/ASR/transformer/hparams/conformer_medium.yaml#L155

For th

[2022-09-27 10:56] ycemsubakan commented on #1377
Ok, I am closing this issue since you are saying that you are able to get close to the one we obtained, when trying with 8k.

[2022-09-27 10:56] #1377 closed

[2022-09-27 11:42] starcell commented on #1585
@anautsch
Thank you for your detail explanation.

Running this code :
from_hparams(EncoderDecoderASR, source="ddwkim/asr-conformer-transformerlm-ksponspeech", savedir="pretrained_models/asr-conformer-transformerlm-ksponspeech")
after installing below version :
!pip install git+https://github.com/speechbrain/speechbrain.git@c762107

The result shows this message :
TypeError: cached_download() takes

[2022-09-27 12:49] anautsch commented on #1585
Hi @starcell hm, sorry I didn't check with that particular version (the loading snippet is what works for me on the current develop branch); so I see your problem a bit more. I do not understand why only this model has problems across SpeechBrain versions but others work just fine.

We provide some tutorials, for example here:
https://speechbrain.github.io/tutorial_basics.html

Here's one on the Y

[2022-09-27 13:02] anautsch commented on #1585
This yaml was used for training:
https://github.com/speechbrain/speechbrain/blob/develop/recipes/KsponSpeech/ASR/transformer/hparams/conformer_medium.yaml

and here's the one for inference/loading the final checkpoint:
https://huggingface.co/speechbrain/asr-conformer-transformerlm-ksponspeech/blob/main/hyperparams.yaml

The ConvolutionFrontEnd module is also used in these recipes:
[code]

The depe

[2022-09-27 21:50] qanastek opened #1586 "Impossible to transcribe audio file with the same name"
Due to the implementation of the [transcribe_file](https://github.com/speechbrain/speechbrain/blob/aef146861cc89482102f7ce63cda1e8d3366a229/speechbrain/pretrained/interfaces.py#L716) method and specially of the sub method [load_audio](https://github.com/mravanelli/speechbrain-1/blob/033d8cda7f237109636849ef34c0b0e83e9c4897/speechbrain/pretrained/interfaces.py#L229), it is impossible to transcribe

[2022-09-27 22:20] ddwkim commented on #1585
Hi,

Thanks for sharing this issue.
The issue seems to be related with the version of huggingface-hub, which you can temporarily fix by
[code]
The installation of the incompatible version of huggingface-hub is probably due to the loose restriction of its version as indicated by `requirements.txt`.
Since issues are constantly raised by KsponSpeech model users, we currently finished updating the mod

[2022-09-28 02:01] starcell commented on #1585
@ddwkim
Thank you very much for your answer.
It does work.
I think the tutorial work with speechbrain version 0.5.10(@c762107) and hugginface version 0.7.0.
That's O.K.

And now I want to infer on my local computer with my own model files.
I am trying with recipe/KsponSpeech.
Can I use the hyperparams.yaml from huggingface with my own model files after model training with the recipe and dataset in

[2022-09-28 06:33] anautsch commented on #1586
Hi @qanastek yep.

This relates to #1303 - this topic touches on data handling in general:
* for researchers, can a training recipe run through?
* for industry, are the right audios loaded through the pretrained interfaces?
* for curious users, does the demo code provided on HuggingFace run?

Dropping a file does not help if there's DDP and multiple nodes are having fun with the same file name.

H

[2022-09-28 06:43] anautsch commented on #1585
Hi @ddwkim please let us know if there are other issues you found with the `huggingface-hub` - we will work on the HuggingFace integration (refactoring) over the next weeks: any hints on what are possible issues -> it would help.

[2022-09-28 06:46] fmbao commented on #1539
same question

[2022-09-28 06:50] anautsch commented on #1539
Hi @fmbao please share a minimal code snippet (of what does not work), so we can try to reproduce the error on our side.

[2022-09-28 11:11] Adel-Moumen commented on #808
Hello @DanBmh,

Sorry for the very late response.

I saw on your gitlab project that you wrote the speechbrain writer class? https://gitlab.com/Jaco-Assistant/corcua/-/blob/master/corcua/writers/speechbrain.py

Therefore, it seems that the issue is no longer an issue. Could you please tell me if you have any other questions or can we close this issue? Many thanks, and congratulations on this great

[2022-09-28 11:19] Adel-Moumen commented on #911
Hello @Enescigdem,

Is there any news on this issue, please? Many thanks!

[2022-09-28 14:11] ddwkim commented on #1585
@starcell
pad_index has no effect on the result since the relative wave lengths will automatically ignore the padded regions.
In other words, the result will be the same regardless of the value of pad_index in the yaml files.
It must have been clearer if pad_index was not specified at all. I will look into that if not specifying pad_index also works.

Sure, but I remember I had to be careful with

[2022-09-28 19:38] DanBmh commented on #808
You're right, I didn't had the time to notify you the last days...
It also seems that this helps with/solves your issues #1210 and #1198.

It would be great if we could add a note somewhere in Speechbrain's readme.

[2022-09-28 19:42] Adel-Moumen commented on #1568
Hello @gelimcgill,

Please use `from` instead of `import` when fetching a specific class:
[code]

Best.

[2022-09-28 19:42] #1568 closed

[2022-09-28 19:51] Adel-Moumen commented on #926
Hello,

Sorry to bring this issue out of the abyss, but is there anything we should be doing about this issue?

I don't see any reason to keep it alive.

Feel free to let me know what you think. 🙂

[2022-09-28 19:56] Adel-Moumen commented on #966
Hello,

Is the issue still up? Thanks. 🙂

[2022-09-28 20:03] Adel-Moumen commented on #1039
Hello,

Is the issue still up, please? Thanks. 🙂

[2022-09-28 21:19] Adel-Moumen commented on #1296
Hello,

Is the issue still up, please? Thanks. 🙂

[2022-09-28 21:24] #1296 closed

[2022-09-28 21:27] Adel-Moumen commented on #1294
Hello friends,

Any news on this issue, please? Many thanks. 🤗

[2022-09-29 00:59] starcell commented on #1585
@ddwkim
Thank you very much.
I am expecting your fixing.

[2022-09-29 03:37] kexinzhengn commented on #1582
Hi @anautsch , Thank you for the information. I sort of understand how it works now.

[2022-09-29 03:37] #1582 closed

[2022-09-29 07:49] anautsch commented on #1294
The issue wasn't addressed yet so far as I know, so it's still on.

[2022-09-29 09:23] Adel-Moumen commented on #1040
Hello,

There has been no activity for a very long time. Therefore, I am closing this problem. However, feel free to reopen it if you are still facing this problem. Thanks. 😁

[2022-09-29 09:23] #1040 closed

[2022-09-29 09:49] Adel-Moumen commented on #1470
OK. Thanks.

Have you run some tests between float16 and int64 on our transformers recipes?

[2022-09-29 19:35] vadimkantorov commented on #1470
No, @grazder just fixed it to be int64 to be safe of overflow/underflow of fp16

[2022-09-30 02:10] starcell commented on #1585
@ddwkim
I came to another problem, so I need your help.

I trained as the recipe KsponSpeech with sb version 0.5.12. And I used [yaml file](https://github.com/speechbrain/speechbrain/blob/v0.5.11/recipes/KsponSpeech/ASR/transformer/hparams/conformer_medium.yaml).
The result of inference with trained files on local is "'쉑u-ouner-eo-eri핼 할핼 수가읎어읎어쯧'.
It must be '반말을 할 수가 없어'

My pretrained model fil

[2022-09-30 02:17] ddwkim commented on #1585
I encountered a similar problem with a newly trained model.
It is likely the wrapper is not running the model as intended.
I suspect that the problem is associated with the configuration in the yaml file.
I am looking into it, and I will get back to you if I find a solution.

[2022-09-30 02:25] starcell commented on #1585
@ddwkim
Thank you for your fast answer.
If you tell me the good place to try to look into, I will try.

[2022-09-30 08:32] Adel-Moumen commented on #1470
OK.

I will need to train some transformer recipes to test it. But I agree that it would be better to have int64 or fp32.

[2022-10-01 09:38] Adel-Moumen commented on #1241
Hello @fadlanhidayat,

Sorry for the late response. Are you still facing this issue? Thanks. :)

[2022-10-01 09:46] Adel-Moumen commented on #1418
Hello,

As Mirco explained, some initialization might be more problematic than others (e.g your model can get stuck in a local minima far away from the optimum solution due to the initialization, lr, lr schedule...).

 As it seems that we have answered your question, I will close this issue. Feel free to reopen it if you need more information. Thanks! 😃

[2022-10-01 09:46] #1418 closed

[2022-10-01 09:56] #1271 closed

[2022-10-01 09:58] Adel-Moumen commented on #1252
Hello @LONG520520,

Is the issue still up, please? Thanks. 😃

[2022-10-02 12:39] Adel-Moumen commented on #964
Hello,

Is there any news about this issue, please? Thanks. :)

[2022-10-03 14:25] AsuMagic opened #1589 "Incorrect log_probs dim causes a confusing error about NaN losses on CTC loss/search"
## Summary

Accidentally undersizing the output vector for a CTC-based model (and possibly others) may produce a confusing NaN loss error after a couple of batches, which is not helpful in finding the root cause.
PyTorch's `detect_anomaly` only points as NaNs being found in `log_softmax`, which does not help either.

Ideally, SB could instead detect this issue and produce a more helpful error/warn

[2022-10-03 16:10] eviltypha commented on #1583
Hi @anautsch, I've been able to add new speakers and resume training from the checkpoint. I had to edit the `classifier.ckpt`, `optimizer.ckpt` and the `train.yaml` files to make this happen.

[2022-10-04 01:45] starcell commented on #1585
@ddwkim
Do you find a solution?

I didn't.
I run ASR model training until epoch 100, and I can know the ASR trained well to see wer_eval_clean.txt file.
KsponSpeech_E00099, %WER 0.00 [ 0 / 4, 0 ins, 0 del, 0 sub ]
반말을 ; 할 ; 수가 ; 없어
 =  ; = ; =  ; =
반말을 ; 할 ; 수가 ; 없어

It transcribed well, but asr_model.transcribe_file('KsponSpeech_E00099.wav') returns
'짯 반말을 할 수가 없어핼 수가 없어읎어읎어쯧'

May there be some

[2022-10-04 05:34] starcell opened #1590 "The result of inference using EncoderDecoderASR differs from transcribed text in wer_eval_clean.txt file."
I trained model using recipe/KosponSpeech, and got the transcribed text as below.
I used speechbrain version 0.5.12.
.....
KsponSpeech_E00099, %WER 0.00 [ 0 / 4, 0 ins, 0 del, 0 sub ]
반말을 ; 할 ; 수가 ; 없어
= ; = ; = ; =
반말을 ; 할 ; 수가 ; 없어
.....

But I got different result using EncoderDecoderASR as below.

from speechbrain.pretrained import EncoderDecoderASR
asr_model = EncoderDecoderASR.from_hparams()

[2022-10-04 06:23] anautsch commented on #1583
Hi @eviltypha good to hear you found a solution!

Please share, if you like, how you edited the three files.

Out of curiosity, did the training continue at a learning rate that was within reasonable limits for you?
(or did training continue at a worse point?)

If you know and would like to share, how much did the performance change on a testing dataset?

[2022-10-04 11:52] AsuMagic opened #1593 "Conflicting documentation on supported Python versions"
Both 3.7 and 3.8 are mentioned as minimal Python versions in different places, which could be confusing to users and contributors. So, which one is it?

Those are all the mentions to Python versions I've found after a quick lookup in the codebase:
- `README.md` mentions Python 3.8+
- `docs/contributing.md` mentions Python 3.8+
- Test actions are run for Python 3.7, 3.8, 3.9
- `setup.py` requires P

[2022-10-04 16:21] groadabike commented on #1553
I had to add `from torch.utils.tensorboard import SummaryWriter` as the first import in train.py and the error disappear

[2022-10-05 07:27] anautsch commented on #1593
Hi @AsuMagic thanks for pointing out - it's python 3.7.
Please go ahead with a PR :muscle:

[2022-10-05 09:02] #1593 closed

[2022-10-06 09:36] olvb opened #1597 "Batching affects predictions of EncoderASR and EncoderDecoderASR"
Batching together audios of different duration affects the prediction returned by `EncoderASR` and `EncoderDecoderASR`, ie `prediction(Batch[wav_A, wav_B]) != [prediction(Batch[wav_A]), prediction(Batch[wav_B])]`

With `EncoderDecoderASR`, it really seems as if the `wav_lens` are not taken into account at some point, as batching an audio with another much longer audio results in a much longer pred

[2022-10-06 13:20] Adel-Moumen commented on #992
Hello,

Indeed, when we use `run_opts={"device":"cuda"}` we get an error. Instead, you need to modify the `hyperparams.yaml` file by replacing `device='cpu'` to `device='cuda:0'`.  Now, the VAD will run on the GPU, and you will not have any errors thrown! 🙂

The .yaml file is located in the savedir.

Best.

[2022-10-06 13:32] Adel-Moumen commented on #990
Hello,

It seems that the issue has been answered. Therefore, I am closing this issue. If you have any other questions, please feel free to reopen the issue! Thanks. 🙂

[2022-10-06 13:34] Adel-Moumen commented on #1330
Hello,

It seems that @TParcollet answered your question. I am therefore closing this question. Feel free to reopen if needed. Thansk.

[2022-10-06 13:35] Adel-Moumen commented on #1211
Hello,

Is there any news about this issue, please? Thanks.

[2022-10-06 19:28] #1203 closed

[2022-10-07 07:19] anautsch commented on #1583
Thank you, @eviltypha !

<i>Curious if someone picks this up and would be so kind to then reach out again.</i>

Closing this issue - please feel free to re-open :)

[2022-10-07 07:19] #1583 closed

[2022-10-07 10:13] thibault-roux commented on #1462
I met this issue for multiples reasons : the env corruption was not compatible with my data apparently ; and of course, some of my data were problematics (empty files, etc). Unfortunately, I still meet this issue depending of the batch_size : when training with a batch_size of 4, I could train my model for 1 epoch ; but with a batch_size of 7, my model crash at 81% of the first epoch with this err

[2022-10-07 10:56] eviltypha commented on #1583
Thanks for your help and support

[2022-10-07 14:10] matln opened #1598 "Implementation of adding background noise"
Hi, I am confused about the implementation of `AddNoise` in `speechbrain/processing/speech_augmentation.py`:
1. The amplitude is obtained by computing the L1 Norm of the waveform, i.e., `out = torch.mean(torch.abs(waveforms), dim=1, keepdim=True)`. However, in [Signal-to-noise ratio wiki](https://en.wikipedia.org/wiki/Signal-to-noise_ratio), it mentions that the amplitude is computed by root mean

[2022-10-11 09:05] mravanelli commented on #1517
Samuele, could you please take a look at it?

On Fri, Aug 5, 2022 at 4:39 AM poor1017 ***@***.***> wrote:

[2022-10-13 12:10] BattashB opened #1601 "[Bug]: o such file or directory: 'speechbrain/version.txt' while running :" pip install --editable .""
### Describe the bug

Hi all, trying to install the package from source,
I ran:
`pip install -r requirements.txt`, which completed with no errors.
Then, I ran the next command:
`pip install --editable .`
But it returns:
[code]
(Full log below)
Thanks for your help!

### Expected behaviour

Finish installation successfully.

### To Reproduce

_No response_

### Versions

I have python 3.85
speechbr

[2022-10-13 18:04] ckchandler opened #1603 "Import error: Symbol not found: ____chkstk_darwin"
### Describe the bug

By way of attempting to use [pyannote](https://github.com/pyannote/pyannote-audio) in a virtual environment (created following the download instructions on the pyannote github), I am running into issues with speechbrain.

Long story short, when loading a pretrained pyannote model, with the following line of code:

```pipeline = Pipeline.from_pretrained("pyannote/speaker-diari

[2022-10-14 07:06] anautsch commented on #1603
Hi @ckchandler not that I know.

I ran a quick search with `Symbol not found: ____chkstk_darwin` and you can find others having the same issue using various other tools, also on github. If mac OS brings problems, then a first thing to ask: is this your battle to pick up?

As for the error log, it would make more sensre to ask `sentencepiece` about this issue. The library `/usr/lib/libSystem.B.dyli

[2022-10-14 08:34] BattashB commented on #1601
For some reason my git clone did not work properly, thats was theissue, closing

[2022-10-14 08:34] #1601 closed

[2022-10-15 08:52] Adel-Moumen commented on #1545
Hello,

it seems that there has been no activity for a long time, so I am closing this issue. Feel free to reopen it if the problem reappears on your side. 🙂

[2022-10-15 08:52] #1545 closed

[2022-10-15 08:52] Adel-Moumen commented on #1548
Hello,

it seems that there has been no activity for a long time, so I am closing this issue. Feel free to reopen it needed. 🙂

[2022-10-15 08:52] #1548 closed

[2022-10-15 08:54] Adel-Moumen commented on #1539
Hello,

it seems that there has been no activity for a long time, so I am closing this issue.

Please @fmbao, if you encounter the same problem, open a new issue with the necessary information. Thank you. 🙂

[2022-10-15 08:54] #1539 closed

[2022-10-15 08:55] Adel-Moumen commented on #1397
Hello,

it seems that there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it if you still encounter the problem. Thank you. 🙂

[2022-10-15 08:55] #1397 closed

[2022-10-15 08:56] Adel-Moumen commented on #1462
Hello @thibault-roux,

thanks for reaching out. Are you still facing this problem? Thank you. 🙂

[2022-10-15 08:57] Adel-Moumen commented on #1447
Hello,

it seems that there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it if you still encounter the problem. Thank you. 🙂

[2022-10-15 08:57] #1447 closed

[2022-10-15 08:57] Adel-Moumen commented on #1401
Hello,

it seems that there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it if you still encounter the problem. Thank you. 🙂

[2022-10-15 08:57] #1401 closed

[2022-10-15 08:59] Adel-Moumen commented on #1446
Hello,

it seems there has been no activity for a long time, and that @TParcollet has answered your problem, so I am closing this issue.

Feel free to reopen it if you still encounter the problem. Thank you. 🙂

[2022-10-15 08:59] #1446 closed

[2022-10-15 09:00] Adel-Moumen commented on #1483
Hello,

it seems there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it (with the necessary information) if you still encounter the problem. Thank you. 🙂

[2022-10-15 09:00] #1483 closed

[2022-10-15 09:02] Adel-Moumen commented on #1474
Hello,

it seems there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it if you still encounter the problem. Thank you. 🙂

[2022-10-15 09:02] #1474 closed

[2022-10-15 09:03] Adel-Moumen commented on #1380
Hello,

it seems there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it (with the necessary information asked by @anautsch) if you still encounter the problem. Thank you. 🙂

[2022-10-15 09:03] #1380 closed

[2022-10-15 09:04] Adel-Moumen commented on #808
Hello @TParcollet,

Could you please take a look at this? Thanks. 🙂

[2022-10-15 09:05] Adel-Moumen commented on #911
Hello,

It seems there has been no activity for a long time, and that @TParcollet has answered your problem, so I am closing this issue.

Feel free to reopen it if you still encounter the problem. Thank you. 🙂

[2022-10-15 09:05] #911 closed

[2022-10-15 09:06] Adel-Moumen commented on #926
Hello,

It seems there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it if you still encounter the problem. Thank you. 🙂

[2022-10-15 09:06] #926 closed

[2022-10-15 09:06] Adel-Moumen commented on #966
Hello,

It seems there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it if you still encounter the problem. Thank you. 🙂

[2022-10-15 09:06] #966 closed

[2022-10-15 09:07] Adel-Moumen commented on #1039
Hello,

it seems there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it (with a reproducible example) if you still encounter the problem. Thank you. 🙂

[2022-10-15 09:07] #1039 closed

[2022-10-15 09:08] Adel-Moumen commented on #1241
Hello,

It seems there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it if you still encounter the problem. Thank you. 🙂

[2022-10-15 09:08] #1241 closed

[2022-10-15 09:09] Adel-Moumen commented on #1252
Hello,

it seems there has been no activity for a long time, so I am closing this issue.

Feel free to reopen it (with the information asked by @mravanelli) if you still encounter the problem. Thank you. 🙂

[2022-10-15 09:09] #1252 closed

[2022-10-15 13:06] AsuMagic commented on #1603
This is likely not something sentencepiece does intentionally. This particular symbol seems like a security feature in apple's C standard library which programs built on newer macOS versions (somewhere around `10.5`) now depend on by default. It looks like you won't be able to use these prebuilt binaries.

Hence, you *may* be able to build sentencepiece yourself and install it in your local enviro

[2022-10-15 16:19] QDPeng opened #1604 "[Bug]: Multi-GPU training using Data Parallel"
### Describe the bug

I fellow the mutigpu training docs in "docs/multigpu.md",
## Multi-GPU training using Data Parallel
command is :
CUDA_VISIBLE_DEVICES=0,1 python experiment.py params.yaml --data_parallel_backend

But the batch data is not same length,
Errors like this:
multi_head_attention_forward
    assert key_padding_mask.shape == (bsz, src_len), \
AssertionError: expecting key_padding_mas

[2022-10-16 19:42] samecfrank opened #1606 "[Bug]: Tensor Dimension Error on Speaker Separation"
### Describe the bug

I am getting a tensor dimension error when running speaker separation.

### Expected behaviour

I expect the function to output an array of speaker separated audio files.

### To Reproduce

model = separator.from_hparams(source="speechbrain/sepformer-wsj02mix", savedir='pretrained_models/sepformer-wsj02mix')
est_sources = model.separate_file(path='filename.wav')

### Versions

[2022-10-18 09:17] thibault-roux commented on #1462
Somehow, filtering again worked ! This is the magic of Speechbrain 😃

[2022-10-19 09:20] almson opened #1609 "[Bug]: templates.speech_recognition.LM.train doesn't call `hparams["pretrainer"].load_collected`"
### Describe the bug

The LM template forgets to call `hparams["pretrainer"].load_collected`, the way that recipes such as `recipes/KsponSpeech/LM/train.py` do. This results in empty training data.

### Expected behaviour

That the code would contain this line and data would load.

### To Reproduce

_No response_

### Versions

`develop` HEAD

### Relevant log output

_No response_

### Additional

[2022-10-20 07:12] aviasd opened #1612 "[Feature Request]: A way to train the model based on number of batches instead of epochs"
### 🚀The feature

Is there a simple way to run validation every X batches instead of every epoch? if not, it may be a good feature.

### Solution outline

Instead of the classical EpochCounter, we can create BatchEpochCounter that will signal "end of epoch" every X batches.
More changes might be needed to the "fit" function.

### Additional context

_No response_

[2022-10-21 08:02] toby1123yjh commented on #1604
I have same problem, hope for some solutions..

[2022-10-21 08:11] TParcollet commented on #1604
With DP, please add drop_last: True to your dataloader (in the YAML) :-)

[2022-10-21 09:35] ahmad-aloradi opened #1613 "[Bug]: causal=True in speechbrain.lobes.models.conv_tasnet.MaskNet results in an error"
### Description

Hi everyone,

I am running into a seemingly simple bug when trying to run the causal version of [speechbrain.lobes.models.conv_tasnet.MaskNet](https://speechbrain.readthedocs.io/en/latest/API/speechbrain.lobes.models.conv_tasnet.html#speechbrain.lobes.models.conv_tasnet.MaskNet). Simply setting the 'causal' flag to True triggers this error: TypeError: bad operand type for unary -:

[2022-10-21 11:40] padmalcom opened #1614 "[Bug]: LJSpeech/TTS receipt does not run with current LJSpeech 1.1"
### Describe the bug

Running the receipt in LJSpeech/TTS has an issue decoding the bytes of the metadata.csv in the current LJSpeech dataset. It throws this decoding error:
[code]

### Expected behaviour

I'm expecting the train.py to read the metadata.csv correctly.

### To Reproduce

Extract LJSpeech and run:

python train.py --device=cuda:0 --max_grad_norm=1.0 --data_folder="C:\Users\admin\Dow

[2022-10-21 13:43] toby1123yjh commented on #1604
I added drop_last: True in the YAML , but it didn't work. I try DDP instead and it works for me.
refer to this: https://github.com/speechbrain/speechbrain/issues/1580

[2022-10-21 15:15] TParcollet commented on #1606
@mravanelli could you please look for this? It's pretty "urgent" thanks!

[2022-10-21 15:23] mravanelli commented on #1606
@ycemsubakan, could you please take a look?

[2022-10-21 15:32] TParcollet commented on #1612
Hey Hi, we already used a step early-stopping on the SSL pretraining recipe, does this is equivalent to what you are looking for ?

[2022-10-21 17:27] ycemsubakan commented on #1606
@samecfrank , Are you on the develop or main branch?

I have just tested on the `develop` branch (I fresh cloned the repo).

Can you try the following on a fresh clone, and let us know if you still get the same error?

[code]

[2022-10-21 17:34] samecfrank commented on #1606
Thank you so much for your response! I did a fresh clone and that line ran. For reference the test lines you sent have always run correctly. My audio is a standard .wav file (never modified) that is ~5 minutes in length. Is there a reason model.separate_file() may be throwing an error for specific files?

[2022-10-21 17:37] ycemsubakan commented on #1606
I see.. 5 minutes seems to be too long, normally you should run out of memory, or the process should get killed. On a 32 gb gpu, ~2minutes is the max you can do without going OOM. However on CPU you might be able to do it, thought would be a bit  slower. Can you try cutting the file into a shorter segment (30 seconds maybe) and try?

[2022-10-21 17:54] samecfrank commented on #1606
Doing a cropped version of the file worked. Is there any way to use speechbrain on longer texts? Thank you so much for your help!

[2022-10-21 17:56] ycemsubakan commented on #1606
Do you mean longer files? You can use the 'Resepformer' model. It is less memory demanding: https://huggingface.co/speechbrain/resepformer-wsj02mix

[2022-10-21 17:56] #1606 closed

[2022-10-22 04:07] starcell opened #1615 "[Bug]: [Typo]"
### Describe the bug

There are some typos in below sources,
recipes/LibriSpeech/Tokenizer/train.py
recipes/KsponSpeech/Tokenizer/train.py
.

In comment:
"""
~
coverts -> converts
bas  -> bad
~
"""

### Expected behaviour

To correct misspelled words.

### To Reproduce

_No response_

### Versions

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-10-22 05:24] AdityaYadavalli1 opened #1616 "[Bug]: Speed of the Transcription and its Accuracy"
### Describe the bug

I am using `EncoderDecoderASR` to run inference on my local model. It takes over 10 minutes to transcribe a single wav file of length 8-9 seconds. Moreover, it gives me transcription that is completely irrelevant to the input wav file.

Transcription: 'WHAT ARE WE GOING TO DO WHAT ARE WE GOING TO DO WHAT WILL WE DO WHAT WILL WE DO WHAT WILL WE DO WHAT WILL WE DO WHAT WILL WE

[2022-10-22 08:09] aviasd commented on #1612
Do you mean [EpochCounterWithStopper](https://github.com/speechbrain/speechbrain/blob/develop/speechbrain/utils/epoch_loop.py#L71)?

[2022-10-23 09:42] GoldDRoge opened #1618 "Fine tuning"
### 🚀The feature

hello im a new one. and i have some problem like this. Thanks for your help
I want to fine tuning this model on my dataset https://huggingface.co/dragonSwing/wav2vec2-base-vn-270h I follow all the code in the https://github.com/speechbrain/speechbrain/tree/develop/recipes/LibriSpeech/ASR/CTC but it does not help because the file hparam look difference. And i really dont know what

[2022-10-23 10:02] TParcollet commented on #1612
This argument from the Brain class: --optimizer_step_limit does it helps?

[2022-10-24 09:09] qanastek opened #1619 "[Bug]: Space token ' ' found in vocabulary even though it looks like BPE."
### Describe the bug

Dear Maintainers,

I am currently trying to improve the ASR predictions of the `Wav2Vec2 + CTC + RNN` recipe for CommonVoice by adding an ARPA model during the inference with `pyctcdecode` based on [this issue](https://github.com/speechbrain/speechbrain/issues/1467#issuecomment-1184340981).

So, I trained my Wav2Vec2 + CTC + RNN by using the characters and BPE based tokenizat

[2022-10-24 09:11] TParcollet commented on #1619
@Antoine-Caubriere @Moumeneb1 please help :D

[2022-10-24 12:23] aviasd commented on #1612
The [--optimizer_step_limit](https://github.com/speechbrain/speechbrain/blob/develop/speechbrain/core.py#L457) argument is used for early stopping. But the train-validation phases are still defined by epochs.
When using [IterableDataset](https://pytorch.org/docs/stable/data.html#torch.utils.data.IterableDataset), there are no epochs, but an infinite stream of batches.
In this "online" train, we ne

[2022-10-24 15:56] Adel-Moumen commented on #1618
Hello,

This is a duplicate of #1617 therefore I am closing this "issue". :-)

[2022-10-24 15:56] #1618 closed

[2022-10-24 15:57] Adel-Moumen commented on #1615
Hello @starcell,

Could you please open a PR to fix it? Thanks!

[2022-10-24 22:53] BenoitWang commented on #1614
Hi @padmalcom,

For the correct preparation, first you can download LJSpeech-1.1 with this link https://data.keithito.com/data/speech/LJSpeech-1.1.tar.bz2, then you unzip the file and give the unzipped path to `data_folder`.

Hope this may help.

[2022-10-25 09:23] padmalcom commented on #1614
@BenoitWang Thanks, Benoit. Doing what you proposed leads to the UnicodeDecodingError.

[2022-10-25 10:39] BenoitWang commented on #1614
Hi @padmalcom, I cannot reproduce the error and it seems a windows encoding issue, utf-8 should be used instead of CP1252, some links that may help:
https://stackoverflow.com/questions/9233027/unicodedecodeerror-charmap-codec-cant-decode-byte-x-in-position-y-character
https://stackoverflow.com/questions/904041/reading-a-utf8-csv-file-with-python

[2022-10-25 10:43] padmalcom commented on #1614
Thanks for testing, I'll change the encoding to utf-8. Closing so far.

[2022-10-25 10:43] #1614 closed

[2022-10-25 12:33] Lakshmi-bashyam commented on #1545
Hello,

I seem to have the same issue while getting the speech segment. This occurs only when I use cuda for VAD.

This is my code,

[code]
Traceback (most recent call last):
 File "/home/lakshmi/Documents/project/machinelearninglibrary/ml/speakerDiarization/vad.py", line 38, in get_speech_interval
speech = VAD.get_speech_segments(audio_file=audio_path, small_chunk_size=0.5, large_chunk_size=3.5)

[2022-10-26 01:44] QDPeng commented on #1604
add drop_last: True works well in train stage, but in valid stage it's failed，because the drop_last is not used in valid data loader

[2022-10-26 20:37] MartinKocour commented on #1606
I think you @samecfrank encounter the same problem which I previously faced:
`SepFormerSeparation.separate_file()` is calling `fetch` function (take a look into [line 2014](https://github.com/speechbrain/speechbrain/blob/d78c00eca113c9f013f2eee4d05947adc1b32ccb/speechbrain/pretrained/interfaces.py#L2014)), which does multiple things... but the most important in this case is that it creates a symli

[2022-10-27 15:10] Adel-Moumen commented on #1462
Good to know!

I close this issue as it seems that there is no more activity. If you need, please create a new issue following the issue template. Thanks. :-)

[2022-10-27 15:17] Adel-Moumen commented on #964
Hello,

There is no more activity on this issue, and therefore, I am closing it.

Open a new issue if needed. Thanks! :-)

[2022-10-27 15:17] #964 closed

[2022-10-27 15:23] Adel-Moumen commented on #1211
Hello,

There is no more activity on this issue, so I am closing it.

If necessary, you can reopen this issue. Thanks :-)

[2022-10-27 15:23] #1211 closed

[2022-10-27 20:26] LiamHorton commented on #1217
Any update on this problem?

[2022-10-28 07:51] #1479 closed, assigned to nobody

[2022-10-28 07:57] #1050 closed, assigned to nauman-daw

[2022-10-28 08:01] #1258 closed, assigned to nobody

[2022-10-28 08:08] Adel-Moumen commented on #1376
Hello,

There has been no activity for a very long time, so I am closing this issue. Feel free to create a new one with the requirements (e.g., reproducible example, etc). Thanks! :-)

[2022-10-28 08:08] #1376 closed

[2022-10-28 10:38] LONG520520 opened #1640 "[Bug]: The error of the DER for Spectral clustering with AMI"
### Describe the bug

![image](https://user-images.githubusercontent.com/86965285/198567765-01347324-962e-4689-b7fa-e33479c6280e.png)

### Expected behaviour

1

### To Reproduce

1

### Versions

1

### Relevant log output

[code]

### Additional context

1

[2022-10-28 11:00] Shin-ichi-Takayama opened #1641 "[Bug]: wav file path output by `create_custom_dataset` function in `recipes/WSJ0Mix/prepare_data.py`"
### Describe the bug

All wav file paths in the csv file output by the `create_custom_dataset` function in `recipes/WSJ0Mix/prepare_data.py` are the paths of the mixture directory.

### Expected behaviour

The paths to the `source1` and `source2` directories are output to a csv file.

### To Reproduce

[code]

### Additional context

_No response_

[2022-10-28 14:19] #1386 closed

[2022-10-28 16:40] Adel-Moumen commented on #1266
Hello @miglanianuragensai,

Any news about this issue, please? Thanks. :-)

[2022-10-28 16:47] Adel-Moumen commented on #1333
Hello @Aya-AlJafari,

Could you please give us some news about this issue? Is it still up? Thanks! :-)

[2022-10-28 16:50] Adel-Moumen commented on #1339
Hello,

This issue has been solved with #1368, so I'm closing this issue.
Thanks again for reporting this problem! :-)

[2022-10-28 16:50] #1339 closed

[2022-10-28 16:52] #1348 closed, assigned to nobody

[2022-10-28 16:59] Adel-Moumen commented on #1477
Hello,

There has been no activity for a very long time, so I'm closing this issue. Feel free to open a new issue if the problem still appears. Thanks :-)

[2022-10-28 16:59] #1477 closed

[2022-10-28 17:00] Adel-Moumen commented on #1499
Hello @AMITKESARI2000,

Is the issue still up? Thanks! :-)

[2022-10-28 17:01] Adel-Moumen commented on #1500
Hello @justinklchan,

Any news about this issue, please? Thanks :-)

[2022-10-29 09:44] Adel-Moumen commented on #1554
Hello @WenbingWei,

Is there any news concerning this issue, please? Have you tried torch arrays? Thanks. :-)

[2022-10-30 14:59] padmalcom commented on #1155
FYI this issue still exists for Tacotron2.from_hparams on Windows.

[2022-10-31 10:20] liaspas opened #1678 "[Bug]: `foreign_class` not working with auth token"
### Describe the bug

Hello,
I am trying to load a custom encoder from a private HuggingFace model with `foreign_class` but am faced with the following issues.
1. It seems `use_auth_token` is not properly passed here:
https://github.com/speechbrain/speechbrain/blob/64c8fa951bdade7e28c81b37452331c61af7b548/speechbrain/pretrained/interfaces.py#L91-L92
That is because `use_auth_token` is the sixth pa

[2022-10-31 17:53] qanastek commented on #1619
Do you have an update on this ?

[2022-10-31 18:15] TParcollet commented on #1619
Those people are in vacation right now :p

[2022-11-01 12:13] annedadaa commented on #1640
Hello! I've got the same problem, did you managed to solve it?

[2022-11-01 13:50] Moumeneb1 commented on #1619
Can you please share your labels list I can have a look into that ?
As a first diagnosis, I think your list is considered as BPE and pyctcdecode has a special treatment for [BPEs](https://github.com/kensho-technologies/pyctcdecode/blob/a477d796e232b476ee8b877efba98aa2d822232e/pyctcdecode/alphabet.py#L113) like lists.

Actually if it's BPe you don't need to add the **pad** token and **'    '**, you

[2022-11-01 13:53] mravanelli commented on #1640
@Adel-Moumen, could you please take a look at it?

[2022-11-01 17:11] TParcollet commented on #1604
Good thanks!

[2022-11-01 17:11] #1604 closed

[2022-11-02 09:51] Adel-Moumen commented on #1640
Hello,

Thanks for pointing out this issue.

It seems related to #600.
Could you please try to install SpeechBrain locally?

The following steps will be mandatory:
[code]

According to #600, during the pip install process, the SpeechBrain `tools` folder is not fetched so you will have to install SpeechBrain locally or copy the folder `tools` in the location of your SpeechBrain installed version.

[2022-11-02 10:12] Adel-Moumen commented on #1581
And the Language Model...

[2022-11-02 10:42] qanastek commented on #1619
I tried to replace the labels like in your following example, and it seems to work. At least removing the `Space token ' ' found in vocabulary even though it looks like BPE` error.

Now, I got this error when I try to apply a ARPA model on my SentencePiece Characters based models :

[code]

[code]

It looks like to works perfectly for my SentencePiece BPE based models :

[code]

Vocabulary of the

[2022-11-02 10:56] LONG520520 commented on #1640
sorroy i kown how to deal with  this question thank you!

| |
***@***.***
|
|
***@***.***
|

---- Replied Message ----
| From | Adel ***@***.***> |
| Date | 11/02/2022 17:52 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [speechbrain/speechbrain] [Bug]: The error of the DER for Spectral clustering with AMI (Issue #1640) |

Hello,

Thanks for pointing out this issue.

It s

[2022-11-02 11:13] Adel-Moumen commented on #1640
OK. Good. :-)

[2022-11-02 15:34] Adel-Moumen commented on #1641
Hello @cemildemir19, could you please take a look at it? Thanks!

[2022-11-02 15:59] Adel-Moumen commented on #1613
Hello @ahmad-aloradi,

Thanks for spotting the bug.

@cemildemir19 could you please have a look? I was able to reproduce the issue and found that https://github.com/speechbrain/speechbrain/blob/develop/speechbrain/lobes/models/conv_tasnet.py#L437 was the problem. We are giving in input `padding` which is a string while we were expecting a `chomp_size` int... thanks :)

[2022-11-02 16:05] ckchandler commented on #1603
@Adel-Moumen Hi sorry! No updates from me - I appreciate the suggestions but none have worked out unfortunately.

- Building from command line is what I meant by local installation and that did not work (resulted in the same errors)
- I don't have sufficient memory on my computer to upgrade my OS or install a VM at the moment (but do realize that this is probably the correct solution)

Thanks!

[2022-11-02 21:05] Moumeneb1 commented on #1619
Hi !

The issue is with pyctcdecode, actually they check if any of the labels starts with **"▁"** [they assume it's a BPE ](https://github.com/kensho-technologies/pyctcdecode/blob/a477d796e232b476ee8b877efba98aa2d822232e/pyctcdecode/alphabet.py#L25) which is not the case for your character level tokenizer. the third label in your list is the **"▁"** and it's the one that makes pyctcdecode think it

[2022-11-03 11:19] olvb commented on #1597
One cause is that we are not providing attention masks to `Wav2Vec2Model` when passing the padded signals, but this is needed for some models (cf https://huggingface.co/docs/transformers/model_doc/wav2vec2#transformers.Wav2Vec2FeatureExtractor.return_attention_mask).

I suppose one way to fix that would be to add an additional `lengths` argument to the `forward()` method of `HuggingFaceWav2Vec2` a

[2022-11-03 12:50] anautsch commented on #1597
Will be resolved in PR #1596 :)
We will use the SB layer norm there which respects wav_lens.

[2022-11-03 13:55] Adel-Moumen commented on #1484
Fixed in #1485

[2022-11-03 13:55] #1484 closed

[2022-11-03 16:48] Adel-Moumen commented on #1531
Hello @maaly-zayed,

Is there some news on this issue, please? Thanks! :)

[2022-11-04 15:41] olvb commented on #1597
Great news, thanks!

[2022-11-06 05:59] Janardhan2131 opened #1686 "[Bug]: IEMOCAP wav2vec2 recipe"
### Describe the bug

I am trying to train the model IEMOCAP wav2vec2 model using the following command

%cd /content/speechbrain/recipes/IEMOCAP/emotion_recognition
!python train_with_wav2vec2.py hparams/train.yaml --data_folder = "/content/drive/MyDrive/IEMOCAP_full_release"

But It just running for 1 sec and not training at all and not running any epochs
![image](https://user-images.githubuserc

[2022-11-06 10:55] Adel-Moumen commented on #1686
Hello @BenoitWang,

Could you please take a look? Thank you!

[2022-11-07 04:56] Janardhan2131 commented on #1686
Can someone please look into this, I need to submit project report on this asap

[2022-11-07 04:58] Janardhan2131 commented on #1686
@Adel-Moumen Please have a look on this issue, The IEMOCAP wav2vec2 recipe is not working and not able to training.

[2022-11-07 07:29] Adel-Moumen commented on #1686
Could you please provide more details? What is the output error? @Janardhan2131

[2022-11-07 07:55] Janardhan2131 commented on #1686
while running the recipe it is expected to run 30 epochs but it is not
running at all

On Mon, Nov 7, 2022, 12:59 PM Adel Moumen ***@***.***> wrote:

[2022-11-07 08:52] Janardhan2131 commented on #1686
![image](https://user-images.githubusercontent.com/84712492/200266175-6a20f0cd-321a-4721-b5a8-6ee86bd8fac5.png)
It is just running for 1sec and giving output like this.

But I am expected like below image that all epochs running and making checkpoints but it is not happening

![image](https://user-images.githubusercontent.com/84712492/200266905-90fac192-a61a-440d-a025-c162695ed684.png)

[2022-11-07 08:54] Janardhan2131 commented on #1686
@Adel-Moumen It is not training and no epoch is running as I specified above

[2022-11-07 09:10] Adel-Moumen commented on #1686
OK.

I have maybe an idea, when you are doing `!cd PATH`, actually it will not move you permanently to the PATH. You should add to your command the training also such that:
`! cd PATH; python train.py hparams/params.yaml --data_folder="PATH"`

Let me know if it solves it.

[2022-11-07 09:18] Janardhan2131 commented on #1686
@Adel-Moumen It is not working , throwing segmentation fault

[2022-11-07 13:35] abbatea opened #1687 "[Bug]: Can't access repository even with access token"
### Describe the bug

Hello Everyone,

I accepted the user conditions for https://huggingface.co/pyannote/speaker-diarization
and created an access token.
When I tried to run my code
`from pyannote.audio import Pipeline
pipeline = Pipeline.from_pretrained("pyannote/speaker-diarization@2.1",
                                    use_auth_token='my_accesscode_which_i_obviously_dont_share')`
I get the

[2022-11-07 13:51] mravanelli commented on #1686
@BenoitWang, could you please take a look at it as well? I remember everytihng was working when I tested it as while ago.

[2022-11-07 14:13] BenoitWang commented on #1686
Hi @Janardhan2131 @Adel-Moumen @mravanelli sorry for the late response. For me this is not a problem of the recipe but something with google colab. Please check the environment and make sure to mount your drive.

[2022-11-07 14:19] BenoitWang commented on #1687
Hi @abbatea , I bumped into the same issue and [this](https://github.com/pyannote/pyannote-audio/issues/1128#issuecomment-1296000185) helped.

[2022-11-07 14:26] BenoitWang commented on #1686
@Janardhan2131 for the wav2vec2 recipe a pretrained model is grabbed from huggingface, did you install the latest version of transformers?

[2022-11-07 14:28] Janardhan2131 commented on #1686
Yes Every time I try to implement the recipe I installed transformers
latest version

On Mon, Nov 7, 2022, 7:56 PM Yingzhi WANG ***@***.***> wrote:

[2022-11-07 14:44] BenoitWang commented on #1686
No idea... Can you download any model from huggingface? Try this ?
`from speechbrain.pretrained.interfaces import foreign_class`
`classifier = foreign_class(source="speechbrain/emotion-recognition-wav2vec2-IEMOCAP", pymodule_file="custom_interface.py", classname="CustomEncoderWav2vec2Classifier")`
Or maybe it's the internet connection, can you make a wget to verify?

[2022-11-07 15:28] Janardhan2131 commented on #1686
@BenoitWang But I want to train this recipe myself on IEMOCAP dataset and want to inference on the model that I can obtain.
Again tried on other desktops, still facing the same issue.

[2022-11-07 15:36] Janardhan2131 commented on #1686
@BenoitWang I am sharing a small snapshot while running recipe , you can get clarity on the issue
https://drive.google.com/file/d/17dNrzu2mzpioyDL4K31Hbvf6KSYPNgvF/view?usp=share_link

[2022-11-07 18:28] 30stomercury commented on #1514
Related to #1550:

I actually have addressed the issue at
https://github.com/speechbrain/speechbrain/blob/102f9f785f13f96110de02cae7a00df217d4e247/speechbrain/decoders/seq2seq.py#L733-L741
It's not been merged yet as it involves several major changes.
I also remember similar issue was raised before, I think the changes will be done in the future (refactored) version.

[2022-11-07 19:53] BenoitWang commented on #1686
I reproduced the issue and finally got the answer. The default python version is 3.7, changing to 3.8 solved the problem. Here's my code https://colab.research.google.com/drive/1F0suhzTt1gHLYoCuFct-1w9pKpa4FLa9?usp=sharing, please tell me if this solves your problem.

[2022-11-08 04:43] Janardhan2131 commented on #1686
Yes its working. @mravanelli @BenoitWang @Adel-Moumen Thank you for your help and solving this issue.

[2022-11-08 09:36] Adel-Moumen commented on #1686
OK.

Good to know that everything is working now.

I close this issue but feel free to open a new discussion if you have more questions on the training recipe. 😀

[2022-11-08 09:36] #1686 closed

[2022-11-09 00:01] N1r opened #1694 "[Bug]: Test TTS/LJ/hifi-gan"
### Describe the bug

Try to learn the recipe in Hifigan vocoder, and something wrong like this, maybe be related to torchaudio, to my best knowledge, can't debug this. I am very appreciated for your help

### Expected behaviour

Some torch audio version solution or related.

### To Reproduce

python train.py hparams/train.yaml --data_folder /home/dingyr/data1/LJ/LJSpeech-1.1

### Versions

_No re

[2022-11-09 04:56] csukuangfj opened #1695 "[Feature Request]: Request to upload torchscript model"
### 🚀The feature

https://huggingface.co/speechbrain/asr-transformer-transformerlm-librispeech/tree/main

provides only `model.state_dict()`.

Is it possible to also upload model after applying `torch.jit.script()` or `torch.jit.trace()`?

One of the advantages is that users don't need to install speechbrain to use the uploaded model.

### Solution outline

Upload models after applying `torch.jit.

[2022-11-09 13:08] abbatea commented on #1687
hi @BenoitWang ty very much, it helped!
Have a nice day
(For anyone wondering: I accepted both terms (diarization and segmentation) then I uninstalled pyannote.audio and installed it again)

[2022-11-09 13:08] #1687 closed

[2022-11-09 20:49] BenoitWang commented on #1694
Hi @N1r , did you install the latest version of torch & torchaudio? If this doesn't solve the issue maybe try a new env with python3.8? Hope this can help.

[2022-11-10 09:25] Adel-Moumen commented on #1695
Hello guys @TParcollet @mravanelli, could you please have a look? thanks :-)

[2022-11-10 10:53] qanastek opened #1696 "[Bug]: The output_neurons dimension isn't consistent with SentencePiece vocabulary size when training a model using a character based tokenizer"
### Describe the bug

Dear maintainers,

My coworkers and I were confronted multiple time to a bug caused by an inconsistency between the dimension of the `output_neurons` and the vocabulary size of the SentencePiece character based tokenizer.

Let me explains by taking for example the recipe for `Wav2Vec + CTC` for CommonVoice.

If we are training an ASR model by setting up the tokenizer to produ

[2022-11-10 11:15] TParcollet commented on #1696
Hi, I believe that the issue comes from sentencepiece. When using char as a unit, it will automatically create a vocabulary containing each individual char without any respect for the given output size, which is expected. This means that from CommonVoice version to another, things will break because the vocabulary will be different. Unfortunately, with most recipes, the PyTorch model is built BEFO

[2022-11-11 20:51] rfalcon100 opened #1699 "[Bug]: Audio examples for multi-mic processing tutorial are missing"
### Describe the bug

The audio examples for the multi-mic processing tutorial are missing, or they have been deleted from dropbox. So running this cell returns nothing:
[code]

### Expected behaviour

The files should be downloadable.

### To Reproduce

_No response_

### Versions

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-11-11 20:58] TParcollet commented on #1699
@FrancoisGrondin might help.

[2022-11-11 21:01] mravanelli commented on #1699
It looks like a problem with dropbox actually....

On Fri, Nov 11, 2022 at 3:58 PM Parcollet Titouan ***@***.***>
wrote:

[2022-11-14 07:59] sharmadhiraj86 commented on #1615
Hi @Adel-Moumen the typo on both the files has been fixed please let me know if there is any modifications required.

[2022-11-14 12:03] annedadaa commented on #1640
I solved the problem as well, thank you!

[2022-11-15 13:44] Adel-Moumen commented on #1615
Great! Many thanks.

[2022-11-15 13:44] #1615 closed

[2022-11-15 13:57] Adel-Moumen commented on #1554
Hello,

There has been no activity for a very long time. So I am closing this issue.

Please, open a new issue following the issue template with the necessary information. Thanks.

[2022-11-15 13:57] #1554 closed

[2022-11-15 13:58] sharmadhiraj86 commented on #1533
Hii @underdogliu @egruttadauria98, please tell what should be modified in the Readme file. I want to contribute to solve this issue as soon as possible and raise a PR as this is a part of my academic curriculum.

[2022-11-15 14:32] sharmadhiraj86 commented on #1521
@GAN-pie Hii. Can you tell where is the save_boundaries method located?

[2022-11-15 14:43] GAN-pie commented on #1521
If I remember well it's in the VAD class of the pretrained.interface module.

[2022-11-15 16:38] sharmadhiraj86 commented on #1521
Got it. So now do I need to change the value for value_format variable??

[2022-11-15 22:51] germes96 opened #1703 "[Bug]: FairseqWav2Vec2 Load example."
### Describe the bug

The section [FairseqWav2Vec2](https://speechbrain.readthedocs.io/en/latest/API/speechbrain.lobes.models.fairseq_wav2vec.html#reference) in the documentation present and example to try Wav2Vec2. This example works with the 0.5.11 version of speechbrain but not work on last version 0.5.13.

### Expected behaviour

Produce the share of output

### To Reproduce

[code]

### Versi

[2022-11-16 20:02] germes96 commented on #1703
@anautsch @Adel-Moumen  After further investigation, I realized that the problem is not caused by speechbrain but rather by fairseq. Instead of the default version of fairseq (0.12.2) I installed a less recent version that I was already using in one of my projects (0.10.2). And everything works perfectly.

[2022-11-16 21:07] matthewkperez opened #1707 "[Bug]: Issue with AMP for Librispeech recipe"
### Describe the bug

I'm trying to follow the librispeech ASR recipe (/recipes/LibriSpeech/ASR/CTC) and turn on auto_mix_precision (AMP). However, I run into an assertion error saying "No inf checks were recorded for this optimizer."

### Expected behaviour

With AMP turned off, I'm able to perform training as expected.

### To Reproduce

[code]

[code]

### Versions

_No response_

### Relevant

[2022-11-17 16:26] thibault-roux opened #1713 "[Bug]: Training on CommonVoice Transformer recipe with data_parallel crashes"
### Describe the bug

Bug similar to https://github.com/speechbrain/speechbrain/issues/651.

When trying to train a transformer using the Common Voice recipe (https://github.com/speechbrain/speechbrain/tree/develop/recipes/CommonVoice/ASR/transformer) with --data_parallel, I have the following error:

[code]

When running without --data_parallel with one GPU, it seemed to work. At the moment, the

[2022-11-18 17:32] FYJNEVERFOLLOWS opened #1714 "[Bug]: Question about VAD"
### Describe the bug

Dear speechbrain members,

When performing VAD following https://huggingface.co/speechbrain/vad-crdnn-libriparty, it seems that the speech segment results are cut when the audio length is longer than 9.99 s. However, the input audio actually contains voice after 10 seconds.
![](https://raw.githubusercontent.com/FYJNEVERFOLLOWS/Picture-Bed/main/202211/20221119011226.png)
The r

[2022-11-19 11:12] FYJNEVERFOLLOWS commented on #1714
The above issue happens when the length of input audio is between `small_chunk_len` and `large_chunk_len`. Original code considered padding for the last `large_chunk`, whereas omitting to do the same thing for the last `small_chunk`. This can be fixed by modifing the code snippet for padding. See PR https://github.com/speechbrain/speechbrain/pull/1716.

[2022-11-21 11:33] sharmadhiraj86 commented on #1521
@GAN-pie please tell what changes are to be done exactly in the save_boundaries method?

[2022-11-21 15:59] abbatea opened #1720 "[Bug]: Speechbrain speaker-diarization accuracy is really low"
### Describe the bug

Hello everyone, I tried the speaker diarization
`from pyannote.audio import Pipeline
pipeline = Pipeline.from_pretrained("pyannote/speaker-diarization@2.1",
use_auth_token="ACCESS_TOKEN_GOES_HERE")
apply the pipeline to an audio file
diarization = pipeline("audio.wav")

dump the diarization output to disk using RTTM format
with open("audio.rttm", "w") as rttm:
diarization.wri

[2022-11-22 17:18] Adel-Moumen commented on #1703
OK! Glad to know that you solved the issue.

Might be worth keeping this issue alive so that everyone is aware of this uncompatibility problem.

[2022-11-22 22:59] TParcollet commented on #1713
Hi, we will soon drop the support for data_parallel as it is being deprecated by PyTorch and is really not good compared to DDP. Please use DDP

[2022-11-22 22:59] #1713 closed

[2022-11-22 23:00] TParcollet commented on #1703
Closing. People can browse all issues to find answers :-)

[2022-11-22 23:00] #1703 closed

[2022-11-22 23:04] TParcollet commented on #1616
Well, this is very hard to debug from our side. The very first thing to try would be to check the output of the transformer decoder before decoding to see if the predicted sequence makes more sense. This kind of looks like a tokenizer issue to be honest ... is the tokenizer used across all models the same ? (LM + AM)

[2022-11-22 23:05] TParcollet commented on #1616
One thing to try could be to quickly change the test csv file and add your test file to it. Then evaluate on it. If it works that way, it means that your inference yaml is wrong somewhere ...

[2022-11-22 23:07] TParcollet commented on #1590
@Adel-Moumen please pause the BeamSearch work and have a look at this, it looks bad and abnormal.

[2022-11-23 00:16] starcell commented on #1590
@TParcollet
Thank you for your reply.
Would you tell me more about the method in detail?
If you tell me how to pause the BeamSearch work, it will be very helpful.

[2022-11-23 08:12] Adel-Moumen commented on #1590
Hello,

Thanks for raising this issue.

So, if I understand correctly, the 0.5.10 version will give you the expected results with the `EncoderDecoderASR` while the 0.5.12 will give you incorrect results right?

[2022-11-23 12:49] AdityaYadavalli1 commented on #1616
Thanks for the response @TParcollet!

I have used the pretrained tokeniser and LM to train my ASR (just trained the AM like in (`speechbrain/recipes/LibriSpeech/ASR/transformer/`). So I hope tokeniser is not the issue?

It's interesting to note that the same code (that uses `EncoderDecoderASR` and my model) works perfectly for librispeech test data. However, it just does not work for this specific

[2022-11-24 06:43] starcell commented on #1590
Yes, right.
0.5.10 and 0.5.11 version gave me the expected results, but not with 0.5.12, and 0.5.13.

[2022-11-24 06:58] starcell opened #1722 "[Bug]: sorting does not works in ASR train"
### Describe the bug

When training with mult-GPU.
Setting sorting: random and sorting: ascending in hparams/*.yaml file show the same activity.
In case sorting setted ascending, batch dataset processed randomly in training.

### Expected behaviour

When I set sorting=ascending, shorter data trained earlier.

### To Reproduce

In yaml file, set as below
sorting: ascending

then ASR train!
It takes

[2022-11-25 04:02] starcell commented on #1722
Solution!
I found where is wrong.
The value of 'shuffle' on the line 760 of core.py must be 'Fasle', not 'True'.
dataset, rank=self.rank, shuffle=False, drop_last=drop_last

I wish source code checked and corrected.

[2022-11-25 10:41] AsuMagic commented on #1722
For the record, this change was introduced by #1518.

[2022-11-25 11:03] AsuMagic commented on #1722
My understanding of the current code is that `shuffle=True` is passed to the [DistributedSampler](https://pytorch.org/docs/stable/data.html#torch.utils.data.distributed.DistributedSampler) so that each DDP instance receives random subsets of the dataset at each epoch.

Assuming you are correct, what I'm assuming is happening and may be worth digging into:
To my understanding, sorting is happening

[2022-11-25 11:24] AsuMagic commented on #1696
Likely duplicate of #1589

[2022-11-25 11:47] AsuMagic commented on #1552
I strongly doubt this is related to CUDA. SentencePiece is rather likely to be the code invoking Protobuf-lite in the first place.

After googling around a bit I found this: https://github.com/huggingface/transformers/issues/2993

Specifically:

So it may be worth doing some sanity checks on the tokenizer and vocabulary here.

As an additional note: I doubt that has any chance to be an OOM error,

[2022-11-25 13:46] TParcollet commented on #1722
Hum, interesting. @RuABraun @Gastron, any idea?

[2022-11-25 13:48] TParcollet commented on #1722
Maybe it is fine to have a fixed order between GPUs if sorting != random. Should we simply add a check and set it back to False if sorting != random?

[2022-11-25 13:54] AsuMagic commented on #1590
On `0.5.10`/`0.5.11`, did you also train the model, or did you use a pre-trained one?
Also, what interface did you use for inference? `EncoderDecoderASR` doesn't seem like it existed at the time as it was introduced by PR #534 (which should mean it's there since `0.5.12`).

Could you upload the model you have trained in `0.5.12`/`0.5.13`?
I can't test it due to #1585 causing errors when using `spe

[2022-11-25 15:07] RuABraun commented on #1722
My bad for assuming one would always want random shuffling. I agree with the understanding of @AsuMagic .

I think it would make sense to have any sorting that is done to happen inside the sampler, after the shuffle, and after line `indices = indices[self.rank:self.total_size:self.num_replicas]`. Instead of in `dataio_prepare`. This way the sorting logic would be contained in one location, instead

[2022-11-25 21:21] TParcollet commented on #1722
@anautsch @Adel-Moumen this is absolutely critical as it impacts all recipe using ascending / descending. We should solve this asap please.

[2022-11-26 12:15] chaiv opened #1726 "[Bug]: There is no such class as speechbrain.lobes.models.FastSpeech2.FastSpeech2"
### Describe the bug

Hi, I try to follow the tutorial https://huggingface.co/speechbrain/tts-fastspeech2-ljspeech. I did "pip install speechbrain"
and then:

`from speechbrain.pretrained import Tacotron2`
`tacotron2 = Tacotron2.from_hparams(source="speechbrain/tts-tacotron2-ljspeech", savedir="tmpdir_tts")`

throws this:

`ImportError: There is no such class as speechbrain.lobes.models.FastSpeech

[2022-11-27 21:34] TParcollet commented on #1726
Hi, could you please report your entire environment as well as OS? I just tried in a fresh conda env with a Linux plateform and it worked as expected.

[2022-11-27 21:38] mravanelli commented on #1726
Hi,
as mentioned in the README, fastspeech2 is still a work in progress. To
avoid misunderstandings, I made this model private again.

Best,

Mirco

On Sun, Nov 27, 2022 at 4:34 PM Parcollet Titouan ***@***.***>
wrote:

[2022-11-27 22:23] TParcollet commented on #1707
Hi, Nice catch! Solved in #1728. If not, please re-open. Please note that using mix_prec with pre-trained w2v2 lead to some instability if unfrozen due to the fact that the scaler is not saved by HuggingFace so we can't reload it ...

[2022-11-27 22:23] #1707 closed

[2022-11-27 22:24] #1726 closed

[2022-11-27 22:26] svecjan commented on #1720
Hi @abbatea, I am looking at the description of your issue, but I have the feeling that you are reporting to the wrong toolkit. Your code uses `pyannote.audio` for diarization, and not SpeechBrain, try reporting it [there](https://github.com/pyannote/pyannote-audio).

[2022-11-28 08:03] anautsch commented on #1722
Sounds like a mix of topics colliding:
* core <> dataio behaviour vs pytorch
* ddp vs single core => ddp won't be testable as such
* tqdm & pytorch dependency & changes we can track only through testing
* implications to: creating/using shards & dynamic batching

Aside the w2v2 pretraining vs all other recipes.

@AsuMagic & @RuABraun bring up some valid points. Yet, should we really create our own

[2022-11-28 09:14] AsuMagic commented on #1616
If it is easy for you to check, I'm still curious whether there would be any difference with inference through the test `.csv` as TParcollet suggested. Because IMO, if it works that way but not when using `EncoderDecoderASR`, then it _could_ be the same issue as #1590. It's a bit of a wild guess, but it might be worth ruling out.

[2022-11-28 09:23] anautsch commented on #1722
How about undoing 1518 and re-randomising data when wav2vec2 needs it?
(Not a w2v2 expert...)

[2022-11-28 10:52] AsuMagic commented on #1722
I imagine the issue raised by @RuABraun is not necessarily specific to wav2vec2, and _could_ impact other existing recipes in SB?

I don't know if moving the dataset sorting logic after the sampling will work, but it might be an option. However, the existence of samplers like `DynamicBatchSampler` and other user-defined samplers must be considered.

It might be reinventing the wheel, but maybe rei

[2022-11-28 12:43] Adel-Moumen commented on #1720
Hello,

Yes, indeed, it seems that this issue is related to pyannote and not SpeechBrain.

Please open an issue on their side. Thanks!
(feel free to reopen this one if we have misunderstood something)

[2022-11-28 12:43] #1720 closed

[2022-11-28 13:30] anautsch commented on #1722
I lack the time to refactor sampling as well before xmas (recipe testing & HF transformer interface). I agree with you: this needs to be studied, a plan outlined, implementation happening with testing, and refactored accompanied with a tutorial.

@TParcollet suggested (per pm) to roll out a solution now, so that all recipes expecting sorting are delivering sorting.
I get that, too. Time is critica

[2022-11-28 16:59] AsuMagic commented on #1722
Agreed, the intended benefit is minor compared to sorting being broken right now anyway.
I assume the goal is to push a SB hotfix with this sorted out ASAP?

Reasoning from the breakage induced by the PR, I think using some test data to validate whether the batches gone through as much of the process as possible (sorting, sampling, etc.) follow the desired parameters in different test settings wou

[2022-11-29 02:03] starcell commented on #1590
@AsuMagic
I trained in v0.5.13, my result is below.
'짯 반말을 할 수가 없어쿱 없어읎어 없어웍'
(correct transcription : 반말을 할 수가 없어)

I used EncoderDecoderASR.from_hparams() in inference.

When I trained in 0.5.11, I've got correct result.(반말을 할 수가 없어)

I uploaded my trained model files in v0.5.13 in the following link.

https://huggingface.co/npark/asr-conformer-ksponspeech

Thank you for your reply.

[2022-11-29 08:34] anautsch commented on #1722
@AsuMagic it's ok to repeat oneself here and there - sometimes it aids clarity and understanding one another's point. We're discussing here; not writing scripture.

Thank you for bringing up a series of good points. They help to structure the particular next steps, and outline what one can do afterwards—dynamic batching has lots of potential, still.

This is a curiosity question:
How do we care ab

[2022-11-29 10:40] AsuMagic commented on #1722
Assuming you're talking about the same thing as me, i.e. the `DistributedSampler` implementation, what it does is to:
1. Generate a tensor of indices from `0` to `len(dataset)-1`
2. Shuffle the tensor of indices
3. Converts the tensor of indices to a list
4. Slice into the list depending on the DDP instance we are running on

So with starting indices of `[0, 1, 2, 3, 4, 5, 6, 7]`, you might end up

[2022-11-29 12:00] starcell commented on #1590
@AsuMagic

PR #534  (which should mean it's there since 0.5.12).
--> But there is EncoderDecoderASR interface in v0.5.11.

https://github.com/speechbrain/speechbrain/blob/v0.5.11/speechbrain/pretrained/interfaces.py

[2022-11-29 12:30] starcell commented on #1590
I don't think this is similar to issue #1616. He said that inference of test data in Librispeech dataset were successful, but the example file was not infered correctly.
In my issue, all test data in KsponSpeech dataset evaluated properly, but the data are not infered correctly by using EncoderDecoderASR interface.

[2022-11-29 14:48] AsuMagic commented on #1590
It seems I got lost in the git history, you're right :)
This might make the issue easier to debug down the road.

I don't think so either anymore. I was suspecting it despite this because some behavior was similar when I was testing, but it only was indicating that beam search was struggling, not that beam search itself is broken.

Anyway, after an embarrassing debugging session where I was testin

[2022-11-30 04:45] QuchenFu commented on #1694
same issue

[2022-11-30 08:33] #988 closed

[2022-11-30 14:35] RaphaelDuan commented on #1561
Hi, @keelezibel. Could you please paste your final version of this snippet? I'm going to implement the fine tuning with the similar code with your old version. Obviously, I met the same problem with you. I did not understand what did you mean by "just directly loading the pretrained modules and setting the individual trainable module."

I'm appreciate if you can help.

[2022-11-30 15:32] RaphaelDuan commented on #1561
I found a stupid method that make a solution but not elegant---training a model from scratch and replace the uncompleted *.ckpt file with the downloaded pretrained model's corresponding file.

[2022-11-30 23:30] praveenmathew93 opened #1732 "[Bug]: Training on CommonVoice Speech classification recipe crashes with AssertionError assert len(target_shape) == tensor.ndim"
### Describe the bug

This is similar to the issue: https://github.com/speechbrain/speechbrain/issues/651

However, that was for ASR, this is speaker classification.

Training crashed with the error given in the log:

### Expected behaviour

Pass the epoch

### To Reproduce

Converted the commonvoice audio files to wav format before processing using train.py

### Versions

I'm using the commonvoic